[2017-07-26 19:14] CharliePoole commented on #253
The NUnit project loader extension 3.6 has been released. Others to follow.

[2017-07-27 02:55] bladeoflight16 opened #272 "Capture Console.Write(Line) output in test result"
It appears that the NUnit report format allows for the inclusion of [console output](https://github.com/nunit/docs/wiki/Test-Result-XML-Format#output) in its results.

Please add the option of *capturing* console output in this field in addition to (or instead of) printing it on the screen. The Visual Studio adapters already capture this output, and I believe the NUnit GUI does as well. So having

[2017-07-27 03:36] CharliePoole commented on #272
Not sure what you are asking for. Console output is already attached to the test result.

[2017-07-27 17:46] bladeoflight16 commented on #272
Hm. My apologies. I'm somewhat stuck with a lot of old technology, and I'm just now exploring switching to this runner. (I've been using the old Gallio runner.) It appears that a combination of factors was contributing to my not seeing it in my test report.

 1. It doesn't show up if I specify the result format to be NUnit2.
 1. It doesn't show up if the test project uses a 2.x version of NUnit.

[2017-07-27 18:48] CharliePoole commented on #272
Associating  the output with each test result in the XML was a new feature in NUnit 3. NUnit V2 was able to capture output only for the purpose of displaying it in a panel of the GUI.

For that reason, getting the text output to be associated with a test requires use of both the NUnit 3 framework and the NUnit 3 output format - the V2 format simply doesn't define any elements to hold the text.

[2017-07-27 19:40] rprouse commented on #272
@bladeoflight16 to convert the NUnit 3 test results to an HTML report, try ReportUnit, http://reportunit.relevantcodes.com/

[2017-07-28 08:13] CharliePoole commented on #253
Notes on progress...

* I updated the task list in https://github.com/nunit/nunit-console/issues/253#issuecomment-314363156 to be a bit clearer regarding what's done and what remains.

* WRT distinguishing the nuget and chocolatey packages, I took the easy route with nunit-project-loader by simply listing the purpose of each in the release notes on GitHub.

[2017-07-28 10:33] glerchundi commented on #271
Fall into the same issue, do you have an expected ETA? Thanks!

[2017-07-28 14:13] ChrisMaddock opened #273 "Insufficient error handling message in ProcessRunner -> RunTests method"
@Fernell commented on [Fri Jul 28 2017](https://github.com/nunit/nunit/issues/2334)

log.Error("Failed to run remote tests {0}", e.Message); is insufficeint. It lacks details required to diagnose problem. Here is sample of my log:

I was unable to recognize error only by this stack trace. I was forced to download nunit3-console binaries and debug it myself. I found out that useful error message wa

[2017-07-28 14:16] ChrisMaddock commented on #273
I think this may be a general issue for some of our console logging.

In the framework, we have ExceptionHelper - which flattens exceptions hierarchy, and (theoretically) ensures everything useful is printed. Having an equivalent in the console would be nice.

https://github.com/nunit/nunit/blob/master/src/NUnitFramework/framework/Internal/ExceptionHelper.cs#L159

[2017-07-28 14:18] ChrisMaddock commented on #273
@Fernell - can you also add what your actual bug was? I don't believe this exception handler should be hit in normal user flow - it may indicate an earlier exception is being handled incorrectly.

[2017-07-29 21:55] ChrisMaddock commented on #273
@CharliePoole - Do you know if there was any intentional breaking changes here?

@Fernell - can you share you NUnit project file, so we can see why the defaults didn't work for you?

[2017-07-30 07:24] CharliePoole commented on #273
The main difference is that the old console actually loaded the assembly, which requires all references to be present. That automatically gave a clearer error message. In NUnit 3, we examine the references in the test assembly without loading, so any failure occurs a bit later, in the driver, when we actually load it.

What has not changed, at least, intentionally, is how we set the appbase by def

[2017-07-31 11:21] Fernell commented on #273
My old nunit file looked like this:
<NUnitProject>
    <Config name="Debug" binpath="." runtimeFramework="net-4.5">
        <assembly path="BuildOutput\Debug\someTest1.dll" />
        <assembly path="BuildOutput\Debug\someTest2.dll" />
        <assembly path="BuildOutput\Debug\someTest3.dll" />
    </Config>
</NUnitProject>

I needed to change it to this:
<NUnitProject>
    <Config name="Debug" bi

[2017-07-31 12:40] ChrisMaddock commented on #273
Thanks @Fernell - that looks like an unintentional change. I wonder if it's related to #116 - I'm not sure what order things are resolved in here.

[2017-07-31 14:03] alexamz opened #274 "Wrong date format in Ignored TestFixtures"
Hi all,

First of all, many thanks to all the contributors to this great and useful project!

We have problems with the start-time and end-time dates in Ignored TestFixtures.
We are using the last version of the NUnit console, the 3.7.0.

This is an example of a test-case header in the xml generated by NUnit Console with a wrong formatted date:

On this example we can see that start-time and end-t

[2017-07-31 15:03] ChrisMaddock commented on #274
The code for this lives in the NUnit Framework. I'll move this issue over, and comment further over there. 🙂

[2017-07-31 15:04] #274 closed

[2017-07-31 15:04] ChrisMaddock commented on #274
Issue moved to [nunit/nunit #2339](https://github.com/nunit/nunit/issues/2339) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-01 12:34] ChrisMaddock commented on #218
This is in progress but blocked in two ways:

1. This failing build - currently passing on Windows, but failing on Linux. Possibly resolved with Cake post-v20, which I believe uses the Roslyn engine on all platforms.
https://travis-ci.org/nunit/nunit-console/jobs/259537651

2. This issue, encountered on upgrading our Cake Script from v19 -> v20 https://github.com/cake-build/cake/issues/1713

[2017-08-01 12:39] ChrisMaddock commented on #218
Ah - I found a better source. Looks like this is blocked until Cake v0.22.

https://github.com/Redth/Cake.ExtendedNuGet/issues/15

[2017-08-01 16:53] CharliePoole commented on #218
I'm not clear why we need anything beyond basic nuget. That's all I used to generate chocolatey packages out of nuget packages.

[2017-08-01 17:44] ChrisMaddock commented on #218
For the components.txt file, which reads the description from the packages.

[2017-08-01 17:47] CharliePoole commented on #218
I see. Could you temporarily leave that out? Or is it a better use of time to wait for a fix?

[2017-08-01 18:30] ChrisMaddock commented on #218
In my opinion, it's worth waiting. There's no time pressure on this issue at all, as far as I'm aware.

The current version also works with the --experimental flag.

[2017-08-01 18:52] CharliePoole commented on #253
Back from vacation and focusing on this issue and its sub-issues. Short status:

* Four nunit-supported extensions have been updated in master. One is released, the other three are awaiting PR review.

* For the teamcity extension, I'll need to find out from @NikolayPianikov how he wants to handle it.

* Integrating the creation of the nunit-console-runner package requires some restructuring of th

[2017-08-02 06:55] CharliePoole commented on #253
All extensions except for teamcity have now been updated and re-released.

[2017-08-02 12:23] NikolayPianikov commented on #253
@CharliePoole the TeamCity extension has no any significant updates and I think the release is not required for it, but I am going to test it with the last version of nunit components ASAP

[2017-08-02 15:59] CharliePoole commented on #253
I am about to add an issue to integrate the chocolatey build with it. I think that will qualify as an update, but it's ultimately up to you. I could go ahead and do it just as I did the other four, or you can ask for it to be done differently. Or, ultimately, you could ask for changes in the PR, since it's yours. I do think it makes sense for me to do it since I'm on a roll with four others alread

[2017-08-02 18:43] ChrisMaddock commented on #271
I believe you can currently get an xml test report by using the nunitlite-runner - that's currently bundled in the zip.

https://github.com/nunit/nunit/releases

Getting test results from the `dotnet test` CLI is being tracked here: https://github.com/nunit/nunit3-vs-adapter/issues/323. (Pull requests welcome!) The --teamcity integration first relies on the .Net Standard engine being able to load

[2017-08-04 13:24] CharliePoole opened #275 "Integrate chocolatey packages with build script"
See #253

In the case of the console runner, some work has already been done but it doesn't match the developed in the other packages we have since created.

[2017-08-04 20:02] rprouse commented on #255
I think I may have found something on this. Can someone confirm?

**Steps to reproduce**

1. Install the MSI version of NUnit Console
2. Create a sample NUnit test project
3. Reference the NuGet nunit console runner
4. Compile the test project
5. Attempt to run the unit tests using the console runner in the packages directory

Doing this, I get the fails with error code -100,

6. Uninstall the MSI

[2017-08-04 22:04] CharliePoole commented on #255
You can see this happen by debugging the search for an engine in Program.cs.

[2017-08-07 08:11] przemo098 opened #277 "NetStandard Null ReferenceExcpetion"
Hello

I tried to run Nunit3 console at your test project

But I got this outPut:
[code]

I got clean installation with Visual Studio 2017.
Issue started with adapter which were not working... (but Resharper can run tests...)
So I used your nunit3-console. It's working for any project (normal .Net framework) but not for NetStandard or .Net core.
Maybe I'm doing something wrong...
I got Nunit3 pack

[2017-08-07 09:06] CharliePoole commented on #277
You encountered a bug that is hiding a bigger bug!

The VS Project Loader extension for the NUnit Engine does not support the format of .NET Core projects. A PR to fix this is in review right now: nunit/vs-project-loader#12

However, once this is merged and in use, you would run into the more fundamental error, which is that the engine itself does not support .NET Core assemblies. :-( That too is

[2017-08-07 09:29] przemo098 commented on #277
Okey, but does it mean .Net standard is also not supported ?!
At main page you wrote:

![image](https://user-images.githubusercontent.com/6282239/29020745-5990c9ca-7b63-11e7-833a-ab220a1262e4.png)

By .Net Standard we mean new .csproj format (this introduced by Microsoft after resigning from json).

[2017-08-07 09:39] CharliePoole commented on #277
I agree it's confusing. As indicated, there is now a ".NET Standard version of the engine". It's not the full engine used by the console runner and is only designed for use by the vs adapter and similar programs.

The console runner __will__ support various implementations of .NET Standard, including .NET Core but right now it only runs tests for .NET (desktop) 2.0 and higher.

Supporting the .csp

[2017-08-07 09:47] CharliePoole commented on #271
We need an issue that tracks precisely the ability to run these tests via the console runner. Running via "some CLI" is a bit too vague. Since there's nothing else going on with this issue, I'm renaming it for that purpose.

General plan: 1. Get a sensible error message when trying to run the app via the console 2. Make it run

[2017-08-07 10:37] przemo098 commented on #277
Okey but I'm targeting output to net461.
In this case I can run console tests, Resharper tests.
But Visual Studio test explorer shows still nothing...

[2017-08-07 13:10] CharliePoole commented on #277
Misunderstanding then. You posted this as a console issue, so I wasn't thinking about the adapter.

Which NUnit framework build are you referencing? Which runtime target? (Should be .NET 4.5)

[2017-08-07 13:33] CharliePoole commented on #271
We currently give the message ".NETPortable test assemblies are not yet supported by the engine."

This is due to dotnet/roslyn#11067. The `TargetFrameworkAttribute` is set to `.NETPortable,Version=5.0` rather than `.NETStandard,Version=1.x`.

We need to try to compensate for this bug, since assemblies that reflect it will be around for a while.

[2017-08-08 11:55] #275 closed

[2017-08-08 12:38] CharliePoole commented on #253
@rprouse @ChrisMaddock The nunit-console-runner and nunit-console build work is now merged in #275.

Once the last remaining extension (teamcity) is ready, we will have to decide about releasing the two console packages. Do we wait for 3.8? Do we try to get something out now?

Finally, in the future, we need a process for dealing with new extension releases. Should a new extension release trigger

[2017-08-08 12:55] rprouse commented on #253
I am trying to stagger the Framework and Console releases to make management of the two easier and to drive home the fact that they are on a different release cadence. I am going to do a Framework release this month and there is only one fixed issue in the Console/Engine, so the 3.8 Console release is probably a ways out. Based on that, you might want to do a Chocolatey release with 3.7.

We might

[2017-08-08 14:27] CharliePoole commented on #253
OK, I'll wait till the teamcity extension is ready and think about what to do. We probably need user documentation about extensions somewhere, telling them how to upgrade to a new extension version between console package releases. It's easy to do with nuget and chocolatey, harder if you are using the msi release.

For the longer term, I agree with you. I think a logical separation between the ext

[2017-08-08 20:45] ChrisMaddock commented on #253
I agree with what's said here. Testing to be the responsibility on the extension author - and we can deal with any poorly functioning extensions we are bundling as and when that situation arises.

[2017-08-09 15:18] danielrteles opened #279 "ConsoleRunner raises InvalidCastException when converting from Object to ADODB.Recordset"
Hi,

I've created a unit test class to validate an SSIS package and Object variables in SSIS are commonly converted to the ADODB.Recordset interface. It works perfectly fine when I run NUnit tests in Visual Studio, but the ConsoleRunner raises an InvalidCastException for the same code.

I've tried many alternatives, but none has worked so far. I've also tried XUnit and it has the same issue, altho

[2017-08-09 17:13] CharliePoole commented on #253
Status to date:

* All extensions are done
* All extensions have been released in new versions except for teamcity. @NikolayPianikov will decide whether to do a 1.0.3 or 1.1 release or to hold off and stick with 1.0.2 for now.
* NUnit console packages, both with and without extensions are done. I'll work next on releasing them.
* Once all is done, we still have some old packages to mark as obsolet

[2017-08-09 17:30] CharliePoole commented on #271
PR #278 has fixed the problem of an unclear error message. We now report that .NET Standard is not yet supported.

[2017-08-11 14:02] muellnes commented on #117
I did run in the same problems, but could fix them with @RichardJFoster tip by adding the parameters

`--inprocess --agents=2`

[2017-08-12 12:43] CharliePoole commented on #117
@muellnes Those options are contradictory and don't use any agents at all. The --inprocess option means "run in process, rather than creating agents" and the --agents option is ignored.

[2017-08-12 21:33] CharliePoole commented on #255
@rprouse @jnm2 This seems like a fairly critical problem. We should decide how we want it to work. We originally decided that each runner would decide whether it wanted to use a local engine or the best engine available. NUnit3 Console uses the best available so it is apparently grabbing the msi install.

I don't know why it thinks the msi is newer when both are installed to the same version. Some

[2017-08-14 17:05] rprouse commented on #255
@CharliePoole I agree that this is critical. The installed version may not be newer, but it may come first in the search path?

I think this is also related to #6. As a temporary fix for that we were planning on only using the local engine but that code is false currently. AFAIK, other runners also chose to only use the private engine.

NuGet is also our primary distribution method. Looking back a

[2017-08-14 18:02] CharliePoole commented on #255
Whatever we do, I'd like to understand what happens here. The code logic is that it that we start out with the local engine and only use any other engine (from the msi) if the version is newer. If we are somehow messing up the version info, I think we should fix that anyway.

I agree that this has not worked out as we hoped. I originally envisioned the user getting new features simply by replacing

[2017-08-16 05:46] glerchundi commented on #271
@CharliePoole thanks for getting into this. Would love to see this solved as we use console runner as our primary testing tool on our CI servers and we are progressively migrating our .NET Framework libraries to make them work in .NET Standard too.

I can take this one and create a PR in a month or so. I would like to ping you all in case you're already working on it.

[2017-08-16 15:04] CharliePoole commented on #271
Although it's assigned to me, I'm currently stuck on detecting the standard level of the test assembly. Any work along those lines would be helpful. As far as I can determine, there is no clean way to do it other than testing for a selection of APIs. That seems very strange to me.

[2017-08-17 06:32] glerchundi commented on #271
@CharliePoole, I don't know if this could be helpful or not but I multitargeted a library to `net40;netstandard20;netstandard16` and it seems like the `[TargetFramework]` attribute is a reliable way to determine the version with which it was built, results:

net40:
`[assembly: TargetFramework(".NETFramework,Version=v4.0", FrameworkDisplayName=".NET Framework 4")]`
netstandard20:
`[assembly: Target

[2017-08-17 11:52] CharliePoole commented on #271
That's what it's supposed to do. I'm dealing with this issue: https://github.com/dotnet/roslyn/issues/11067 which is supposedly fixed but still present in my environment and reported as still present by other folks too.

Now that I think of it, I should create some entirely new projects and see what I get! I've been using the existing nunit test projects for my testing. If this turns out to be a t

[2017-08-17 11:54] CharliePoole opened #281 "Combine existing testresult.xml file"
@georgooty commented on [Wed Aug 16 2017](https://github.com/nunit/nunit/issues/2368)

Hi,

Have any option to combine the test results.xml with existing test results xml file.

Regards,
George

---

@CharliePoole commented on [Thu Aug 17 2017](https://github.com/nunit/nunit/issues/2368#issuecomment-323049728)

No, but it's an interesting idea and the code to do it is already present in the engine

[2017-08-18 01:00] rprouse commented on #255
Adding notes to reproduce in the debugger since it took me awhile to reproduce. This only happens if the installed version is newer than the version you are running. The agent in the install directory starts and loads the engine, but then the call to `Agent.Start()` fails. I am investigating that, meanwhile the steps to reproduce in the debugger are,

- Install the NUnit Console MSI
- Compile the

[2017-08-18 01:14] rprouse commented on #255
The error is in `RemoteTestAgent.Start()` on the `_agency.Register(this);` line. As far as I can tell, the remoting channel is setup correctly and the remote proxy for `_agency` was setup correctly, but a `RemotingException` is thrown.

Outer exception is a `RemotingException` with the message "The argument type 'System.MarshalByRefObject' cannot be converted into parameter type 'NUnit.Engine.ITes

[2017-08-18 01:33] rprouse commented on #255
I've walked through the engine loading code `FindNewestEngine` when running with `privateCopy=false` and it is loading the correct assemblies base on our design. It loads whichever are newer, the current directory, or the install directory. When equal, the current private copy is used. When newer, the agent that runs is the one in the install directory and according to the debug output window, all

[2017-08-18 08:13] ChrisMaddock commented on #255
Sounds sensible to me. All for removing unnecessary complexity. 🙂

[2017-08-18 13:48] Sam13 opened #282 ""Execution terminated after first error" does not fail the console runner"
After updating to NUnit 3.7.1 (Console runner 3.7.0) I noticed that some of my tests are no longer executed. I use the option to stop on first failure.
When analyzing the log file I found out that there was an exception in tear down which was reported correctly in the console but the console runner itself does not report failure.
Is it intended that tear down (and maybe also setup) exceptions no l

[2017-08-18 15:35] CharliePoole commented on #282
The error is reported, as you say, and the run indicates that the overall result is failure. I'm guessing that the failure is in a OneTimeTearDown method because no test cases are reported as failing. Is that correct? What exactly is different from when you have run the tests before? Does it change as a result of upgrading the framework or the console runner?

[2017-08-18 15:54] ChrisMaddock commented on #282
I presume you're referring to the `--stoponerror` flag, @Sam13?

@CharliePoole - this sounds like it could be caused by the changes to make OneTimeTearDown a separate WorkItem, and thus all OneTimeTearDowns running right at the end of the process? So hopefully would be fixed by https://github.com/nunit/nunit/pull/2350?

Sam - could you try the latest build of NUnit framework master from https://ww

[2017-08-18 15:57] CharliePoole commented on #282
@ChrisMaddock Nevertheless, I'd like to hear what @Sam13 thinks the console should be showing, because what I'm seeing in the issue looks like correct output to me.

[2017-08-18 16:01] ChrisMaddock commented on #282
Sorry - I've totally mis-read this. Removed my comment.

[2017-08-18 21:23] craigfowler commented on #219
I am still seeing this in NUnit.ConsoleRunner v3.7.0 (from NuGet) using Linux/Mono.  It's intermittent and doesn't crash every time.

[code]

I have a log of [the whole build used to reproduce this] available on Travis. In that log, the crash above is recorded starting on line 2784.  I think that the rest of the log should contain just about everything else about the build environment you might po

[2017-08-20 20:26] jnm2 commented on #255
Whew, same here.

[2017-08-20 23:03] jnm2 commented on #219
@craigfowler Thank you for that. You're not the only one now. Please see https://github.com/nunit/nunit-console/issues/255#issuecomment-317457833- if you're able, testing the runner in that comment with `--remoting-wait-after-stop --remoting-shutdown-delay=5000` would give us useful information and might work around your immediate problem.

[2017-08-20 23:06] jnm2 commented on #219
@rprouse Or should I suggest he try the runner from https://travis-ci.org/nunit/nunit-console/builds/266292088?

[2017-08-20 23:15] jnm2 commented on #266
I'm going to start off implementing this since further feedback isn't forthcoming.

[2017-08-21 00:28] rprouse commented on #219
@jnm2 I don't think my changes will help for @craigfowler. You cannot install on Linux, so it won't find another engine and my repro happens all the time.

[2017-08-21 08:59] ChrisMaddock commented on #266
@jnm2 - Sorry, haven't replied before as I have no experience in this sort of area, so very little to offer. Everything you've written looks sensible to me.

[2017-08-21 10:27] Sam13 commented on #282
@CharliePoole The output is correct, but the process exit code of NUnit console is 0 which does not fail the build...

[2017-08-21 10:48] ChrisMaddock commented on #282
That would be a bug. To help debugging, could you add your xml result file to this issue?

[2017-08-21 12:28] Sam13 commented on #282
I had to strip some stuff out, but should be sufficient to fix the issue
[IntegrationTest.x64.Release.TestResult.txt](https://github.com/nunit/nunit-console/files/1238767/IntegrationTest.x64.Release.TestResult.txt)

[2017-08-21 12:35] CharliePoole commented on #282
Based on the console output, I would guess that none of the five errors were errors in test cases. That is, they might be errors in test discovery or in the fixture onetimestartup/teardown code. Historically, NUnit only reported test case errors, which is what the "failed" count reflects. Gradually, we added display of error messages when the failure was in the fixture itself rather than in an ind

[2017-08-21 12:43] CharliePoole commented on #282
TestResult seems to confirm my guess.

We should decide what the return code should be in these cases. One approach would be to return the number of errors and failures displayed, even if they are not test case errors. Another would be to create a new negative return code value indicating that onetime setup or teardown errors occured even though all test cases passed. A third simple approach would

[2017-08-21 22:12] craigfowler commented on #219
OK, I'm set up using that build of 3.8.0 mentioned in the comment of #255 and all of my Linux/Travis builds will use that test runner for now.

So far so good (that is - I've seen at least one success), although of course it being intermittent I'll have to wait a while with an eye out for failures.

One thing - and tbh I'm not sure if it's NUnit messaging or Selenium WebDriver (I don't know either

[2017-08-21 23:14] jnm2 commented on #219
Great news, keep us posted!

Agent Process was terminated successfully after error.

I didn't see this when I ran that build, but the temporary fix is `--remoting-shutdown-delay=5000` which means the agent process sleeps for 5000 ms to avoid shutting down the socket too soon since there is literally no other avenue to avoiding the SocketException that I can find without getting rid of remoting ent

[2017-08-22 01:47] #6 closed

[2017-08-22 01:48] rprouse commented on #255
I didn't close this with #283 but I would be curious if that PR solves this issue for anyone reporting.

[2017-08-22 02:50] rprouse commented on #279
Sorry, I don't know much about SSIS, but my guess is that it is an x86/x64 issue. Assuming your tests are AnyCPU, if you run your tests in Visual Studio, by default they run in an x86 process. If you run from the command line, they will run x64.

Try running your tests with the command line option `--x86`. If that fixes it, switch to compiling your test assembly as x86. To do so, go to the Project

[2017-08-22 02:50] #279 closed

[2017-08-22 12:22] craigfowler commented on #219
Update: I've just seen a failure using the experimental console runner build linked above.  It's logged at [this Travis build](https://travis-ci.org/csf-dev/CSF.Screenplay/jobs/267158822), starting on line 2678.

[code]

[2017-08-22 16:42] CharliePoole commented on #219
In general, I send people to an appropriate dev build on MyGet. Those are already reviewed and merged, whereas appveyor builds may or may not be. The MyGet builds are like our continuous beta release toward the next version.

[2017-08-23 11:22] OliverMarte commented on #255
Because we experienced the same issue on the teamcity with nunit 3 console runner 2.6.1 we tried to use the prerelease 3.8 with the command line parameters --remoting-wait-after-stop --remoting-shutdown-delay=5000. Unfortunately no changes. We still getting exit code -100 with the same stack trace as already posted.

[2017-08-23 16:20] CharliePoole commented on #255
@rprouse Are those options actually planned for the next release? I definitely missed them if so.

[2017-08-23 21:10] ChrisMaddock commented on #255
@CharliePoole These options just live on a branch @jnm2 set up - for diagnosis. I don't believe it was ever planned to be merged.

[2017-08-23 21:44] CharliePoole commented on #255
@ChrisMaddock Thanks for the explanation.

[2017-08-24 15:09] theBFG commented on #51
Hey, are there any updates or progress on this bug?

[2017-08-24 18:05] CharliePoole opened #284 "NUnit3: An exception occured in the driver while loading tests... bei NUnit.Engine.Runners.ProcessRunner.RunTests(ITestEventListener listener, TestFilter filter)"
@KlausNUnit commented on [Tue Aug 22 2017](https://github.com/nunit/nunit/issues/2377)

[TestResult.zip](https://github.com/nunit/nunit/files/1241797/TestResult.zip)

Hi guys!
When I try to run tests, I get alway an exception very early.
I went through the internet and also here and saw similiar "issues".
I tried to add --inprocess, --trace:Debug
but didnt get more information about the root issue

[2017-08-24 21:18] ChrisMaddock commented on #51
@theBFG This is acknowlegded as a bug and on our backlog, just needs someone to pick it up an put in a fix. A pull request would be welcome, if you're willing! 😄

@CharliePoole - this probably belongs in the nunit2-result-writer repo now, right? I'd guess it was moved here before we split the extensions out.

[2017-08-25 02:35] jnm2 commented on #255
@ChrisMaddock Thanks, exactly.

@OliverMarte You'll need to use the dev build I linked at https://github.com/nunit/nunit-console/issues/255#issuecomment-317457833. We don't intend for them to ever be merged and release, but rather if they solve people's problems, we'll consider hardcoding values internally without surfacing any options.
Although like I've said, at this point, I'm putting priority

[2017-08-26 02:52] jnm2 commented on #266
I'm hoping for two scenarios:

 1. Runner starts the agent, uses anonymous pipe
 2. Runner connects to user-started agent (same machine or remote machine), uses TCP

In both cases, `--autoclose` isn't necessary.

[2017-08-26 03:41] jnm2 commented on #266
@rprouse `ITestAgency` and `ITestAgent` and `RemoteTestAgent` etc are public and not in the internal namespace. Am I allowed to change the API or will that break someone?

[2017-08-26 03:42] jnm2 commented on #266
I'm playing around with getting rid of `ITestEngineRunner` for example since I want to avoid persistent objects with lifetimes in the remote process. /cc @CharliePoole

[2017-08-28 08:08] LirazShay commented on #272
@rprouse
ReportUnit does not support test output.
In the report that is generated by ReportUnit the output is not included in the html.
I'm using NUnit3 with SpecFlow, and till now I didn't find a good tool to convert the nunit3 result xml into html.
Because SpecFlow report only support nunit2 format so it does not show the categories but it show the output per test (the output is very important i

[2017-08-28 19:31] jnm2 opened #285 "ColorConsoleWriter.WriteLabel causes NullReferenceException"
I've gotten this 7 times out of the last 9 builds on the build server at work. <s>The only thing that should have changed from last night is that there's a lot more parallelization going on.</s> Oh, also I updated to NUnit Framework 3.8.0, duh...

[code]

Fails with error -100.

[2017-08-28 19:32] jnm2 commented on #285
Also on my dev machine which is good news.

[2017-08-28 19:35] jnm2 commented on #239
I've gotten this 5 times out of the last 9 builds on the build server at work, sometimes in the same build log as this error: https://github.com/nunit/nunit-console/issues/285 (Yup, so far, no builds are going through.) The only thing that should have changed from last night is that there's a lot more parallelization going on.

[code]

[2017-08-28 19:47] jnm2 commented on #239
After running this on my dev machine, I'm super suspicious that the problem is really caused by my tests pegging the CPU. Too parallel perhaps. In my case NUnit doesn't know it but my Cake script is running three instances of the NUnit console runner, each with tests in parallel.

[2017-08-28 19:48] jnm2 commented on #285
This looks like the only line that could possible be causing the NRE: https://github.com/nunit/nunit-console/blob/master/src/NUnitConsole/nunit3-console/ColorConsoleWriter.cs#L111

[2017-08-28 19:49] jnm2 commented on #285
This looks like the only line that could possibly be causing the NRE: https://github.com/nunit/nunit-console/blob/master/src/NUnitConsole/nunit3-console/ColorConsoleWriter.cs#L111. We should add an ArgumentNullException check to start with.

[2017-08-28 19:56] jnm2 commented on #285
And here is the root problem: https://github.com/nunit/nunit-console/blob/master/src/NUnitConsole/nunit3-console/ResultReporter.cs#L95 needs to be updated in concert with https://github.com/nunit/nunit/pull/2382. We have a compatibility issue now that none of us thought of. Due to NUnit Console's NRE, NUnit Framework 3.8.0 is incompatible with NUnit Console 3.7.0 and earlier.

/cc @ChrisMaddock @r

[2017-08-28 20:06] jnm2 commented on #285
Can we tag this issue `integration test wishlist`? ... 😟

[2017-08-28 20:11] jnm2 commented on #239
I had to roll back to NUnit Framework 3.7.1 because of https://github.com/nunit/nunit-console/issues/285 and now this problem disappeared, too. So there goes that theory.

[2017-08-28 20:18] rprouse commented on #285
Well, damn. @CharliePoole was worried that removing the value attribute and moving it into the items might cause problems for transforms. None of us thought to check our own code and our own tests don't cause this to happen.

I think this warrants an emergency hotfix which I can do tonight. I think we have two options,

1. Back out #2382
2. Rework #2382 so that it is backwards compatible by includ

[2017-08-28 20:27] ChrisMaddock commented on #285
2 sounds good to me too.

Is it worth investigation https://github.com/nunit/nunit/issues/2386 before doing a hotfix? That also sounds potentially critical.

[2017-08-28 20:29] rprouse commented on #285
@ChrisMaddock I agree, #2386 also looks serious, we should track both. I will comment there.

[2017-08-28 20:31] rprouse commented on #285
I am also going to copy this issue to the framework repo for the backwards compatible fix. We should also address this in the next release of the framework to display the child elements if available, so I will leave this open in this repo.

[2017-08-28 20:53] jnm2 commented on #285
I prefer option 2 as well.

Yes. I cleared the evening.

[2017-08-28 20:56] jnm2 commented on #285
If there's anything else you want me to help with let me know. Otherwise I'll be working on the remoting replacement till I hear from you.

[2017-08-29 00:38] jnm2 commented on #285
NUnitLite may have the same NRE issue as NUnit Console .

[2017-08-29 00:39] jnm2 commented on #285
Yep https://github.com/nunit/nunit/blob/master/src/NUnitFramework/nunitlite/ColorConsoleWriter.cs#L111

[2017-08-29 00:41] jnm2 commented on #285
I renamed #2390 so that we can start a new issue with a name similar to this issue but for NUnitLite without being too confusing hopefully.

[2017-08-29 01:11] jnm2 commented on #266
Here's my first sketch of the agent interfaces: https://github.com/jnm2/nunit-console/tree/new_agent_protocol/src/NUnitEngine/nunit.engine/Agents

And this would be close to the final implementation of ProcessRunner, given those interfaces:
https://github.com/jnm2/nunit-console/blob/new_agent_protocol/src/NUnitEngine/nunit.engine/Runners/ProcessRunner.cs

@nunit/engine-team Please do look over my

[2017-08-29 01:52] jnm2 commented on #266
Oh fun. .NET 2.0 doesn't have anonymous (or named) pipes; however, netstandard1.3 does via https://www.nuget.org/packages/System.IO.Pipes/.

I could, however, just copy the MIT code from https://github.com/dotnet/corefx/tree/master/src/System.IO.Pipes/src. Opinions?

[2017-08-29 02:08] jnm2 commented on #266
Nope, we don't even have `Task<>` let alone `ReadOnlySpan<>`.

[2017-08-29 02:09] rprouse commented on #266
That is a lot of code to bring over, probably even more than our Linq code. I think I would prefer to keep it separate if possible. I wonder if the NUnit.Linq code should expand to become NUnit.Compatibility to add in stuff like this?

As far as a review goes, I am having trouble groking exactly what you are planning based on just scanning the code on GitHub. I will probably need to download and l

[2017-08-29 02:13] jnm2 commented on #266
@rprouse I realized we don't even have `Task<>` let alone `ReadOnlySpan<>`. I don't think I'd ever finish... I'm thinking either skip pipes for now or else do a custom implementation and not try to adhere to the BCL API.

Hmm, this is something I need to learn how to do without being in person with a whiteboard. I can explain things by commenting on code but I do not have a diagram; is there a goo

[2017-08-29 02:31] jnm2 commented on #266
`IAgentPool`: One instance per lifetime of the runner. A pool of remote processes in our case.
`IAcquiredAgent`: Represents a lease of a single remote process. Disposing the lease releases the remote process back to the pool to be shut down or kept around at the pool's discretion.

`IAcquiredAgent.LoadPackage` loads a package into the remote process, returning the `TestEngineResult` for the test r

[2017-08-29 02:59] jnm2 commented on #239
Now that framework 3.8.1 is out, this error comes back when I roll forward from 3.7.1 to 3.8.1. (Fyi @rprouse)

[2017-08-29 03:06] jnm2 commented on #239
Shows up alongside the elusive SocketException!

[2017-08-29 03:10] jnm2 commented on #239
But... if I make all my tests non-parallelizable, the SocketException and this "target machine actively refused" problem go away! Parallelism seems to be key.

[2017-08-29 04:57] CharliePoole commented on #266
@jnm2 If I were doing this, I'd start with a design document.

First I would outline the scope of the project and the problems it's intended to solve. That's never been clear, at least to me, in the issue title / description. We use remoting in a lot of places in NUnit, both in the framework and in the engine. So I would describe all those different places and make clear which ones are to be repla

[2017-08-29 12:53] ChrisMaddock commented on #281
Is this a feature we'd want to add to the core console runner?

A suggestion - if https://github.com/nunit/nunit-console/issues/148 was implemented, this could then be done entirely within a IResultWriter extension, could it not?

[2017-08-29 13:18] mikkelbu commented on #281
If it can be done within an extension then I agree with @ChrisMaddock

[2017-08-29 13:21] rprouse commented on #281
What is the scenario? Is this intended to combine the current test run with the existing results from previous test runs or is it intended to combine the results from multiple simultaneous test runs? The first doesn't seem very useful to me and the second requires coordination between runners.

Would a small app that uses the result writer to join result files be more flexible?

[2017-08-29 13:27] CharliePoole commented on #281
There's no feature in the engine where we load a result file, much less several. And the result writer interface doesn't have a suitable method to implement. At least that's the case as I understand the idea.

Maybe I'm missing something @ChrisMaddock - can you outline how you see this working?

[2017-08-29 13:39] ChrisMaddock commented on #281
I was proposing that the user could specify

[2017-08-29 13:39] CharliePoole commented on #281
@rprouse Your comment just popped up. I'm assuming the second scenario. It could be another app or a new top level option in the console runner like explore or run.

I still don't see the relevance of a result writer extension since we aren't talking about a new format.

The code in the engine that combines multiple XML results is internal code. It could be exposed or just copied to a new app.

[2017-08-29 13:45] ChrisMaddock commented on #281
To be clear - my current opinion is that this doesn't belong in the console runner. @CharliePoole - you marked it as an idea rather than closing, so I was looking at workarounds. 🙂

If the user could pass in a custom flag, and access that value in an extension, then a user could implement all this functionality in their own IResultWriter extension. e.g.

1. User passes in `--combinewith=oldresult.

[2017-08-29 14:08] CharliePoole commented on #281
@ChrisMaddock With feature requests, I no longer close anything. I use is:idea if I feel we might not want to do it.

Nevertheless, this interests me because it's a potential engine feature I'd make use of in the gui.

My interpretation of the idea, however, was not the same as yours. I was thinking we would open multiple XML files on the command line.

Regarding doing anything like this in an ext

[2017-08-29 14:12] ChrisMaddock commented on #281
What would be the use with the GUI? 🙂

[2017-08-29 14:20] CharliePoole commented on #281
GUI use cases...

1. Open a test result and review it.

2. Open a set of assemblies with prior results associated and display them.

3. Do (2) and then rerun.

4. Do any of the above and save the combined result.

As the gui progresses, I expect to do PRs on the engine as needed.

[2017-08-29 17:02] rprouse commented on #281
@ChrisMaddock I wouldn't take this too far at this point. We don't really have the resources to start a new project or app and we still don't have a specific use case for this. @CharliePoole has outlined a few, but even those are different than my original use cases.

To be honest, our XML format is known, it would be pretty easy for someone to write a utility that used LINQ to XML to read in the

[2017-08-31 14:57] jnm2 commented on #239
Here's what I've learned while stabilizing our build server at work:

 - Running a single console runner process at a time, with tests parallelized by NUnit, no issues show up.

 - Running three console runner processes in parallel, with tests *not* parallelized by NUnit, no issues show up.

 - Running three console runner processes in parallel, with tests parallelized by NUnit, often causes "No c

[2017-08-31 15:27] CharliePoole commented on #239
@jnm2 Since NUnit has two different ways to parallelize, your "tests parallelized by NUnit" is ambiguous. I'm assuming you mean parallel workers within the framework rather than multiple process agents, in each of the cases... right?

Everyone... NUnit provides multiple ways to parallelize things so you can pick one. In most situations, you shouldn't use all of them simultaneously without giving i

[2017-08-31 15:51] jnm2 commented on #239
@CharliePoole good point, clarified.

[2017-08-31 15:54] jnm2 commented on #239
Maybe NUnit could give all threads `ThreadPriority.BelowNormal` to avoid accidentally starting too many processes each of which can max each core.

[2017-08-31 16:25] jnm2 commented on #239
I hate having to retract comments, though it's the only way I can keep track of things, but I just hit this again for the first time in the first scenario (Running a single console runner process at a time, with tests `[Parallelizable]` via NUnit framework).

[2017-08-31 16:30] jnm2 commented on #239
Happened twice in a row.

[2017-08-31 16:31] jnm2 commented on #239
It's my unit tests causing this, not the integration tests. I guess because the IO slows them down.

[2017-08-31 16:58] jnm2 commented on #239
Happened five times in a row. I rolled back to 3.7.1 and it has succeeded once so far.

[2017-08-31 17:47] jnm2 commented on #239
Happened five times in a row. I rolled back to 3.7.1 and it has succeeded five times so far.

On the bright side, I seem to have a guaranteed repro now.

[2017-09-03 20:45] Roemer commented on #239
For me the problem lies in using AutoMapper with OpenCover (and intensifies when using that in IIS). This often causes an infinite loop somewhere in AutoMapper which in the end leads to a StackOverflow which results in the error mentioned in this issue.

[2017-09-04 02:20] jnm2 commented on #239
@Roemer You're saying that this is just obscuring the message of the initial error? Interesting...

[2017-09-07 11:46] CharliePoole opened #286 "Force NUnit Console to run AnyCPU tests as x64"
@jgrossrieder commented on [Thu Sep 07 2017](https://github.com/nunit/nunit3-vs-adapter/issues/384)

Hi,

I recently came across the following issues:
All our solution(Unit Test and library) is compiled in AnyCPU. We have some external library that have a specific version for x86 or x64, so we do 2 setups, one x86 with the global lib + the 32 bit library, and one x64 with the 64 bits libraries.

W

[2017-09-07 11:47] jgrossrieder commented on #286
Here is the command line I used:

`C:\nunit-console\nunit3-console.exe path-to-my-solution.sln --config=Debug --agents=1 --process=Separate --result=TestResult.xml;format=nunit2 --timeout=300000 --workers=1`

[2017-09-07 12:04] CharliePoole commented on #286
Because your command-line uses the solution, NUnit attempts to load all assemblies in the solution, whether they are test assemblies or not.  You should list all the test assemblies on the command line to avoid loading any assemblies unnecessarily.

Because of `--process=Separate` it attempts to load all of them into the same process. From your description, some of them require a 32-bit process an

[2017-09-07 13:43] jgrossrieder commented on #286
Thank you for the answer:

We are in the process of adding a lot of UnitTests(we were initially having no units tests and now we have like ~20 projects of UnitTests), but we expect to add a lot of them, and we can specify which branch to use. So I don't think we really have a choice to specify the differents projects.

All our Tests projects ON THE BUILD MACHINE are run with 64bits, it's just some

[2017-09-08 19:09] CharliePoole commented on #286
Your command-line is forcing all tests to run in the same process even though some of them require different process settings.

Have you __tried__ any of the suggestions? I can respect that you want to understand them first, but sometimes just giving it a shot is the best way forward.

[2017-09-08 19:11] CharliePoole commented on #286
BTW, there's an SO question that looks a lot like yours. Is that you? If so, please know that it's a bit of a pita to have to keep explaining it in both places.

[2017-09-08 21:30] jnm2 opened #287 "Stack trace shown for Assert.Warn"
I'm having a hard time reading my build logs because every Assert.Warn puts 40-50 lines of stack trace under the message. I only see this when looking at NUnit console output.

Is this by design? Is there a way to disable this?

[2017-09-08 21:53] CharliePoole commented on #287
Yes. Make this issue a bug and somebody will fix it. 😄

Our StackTrace filter removes certain class entries from the top of the stack. Most likely, being new, `Warn` isn't one of them. Alternatively, it may only do it for failures. Somebody should fix it.

[2017-09-09 23:17] CharliePoole commented on #287
Actually, if you decide this should be fixed, it's a framework issue.

[2017-09-09 23:22] CharliePoole opened #288 "Integrate GitVersion in the build"
Initially, I'll follow the implementation on nunit-gui, after which we can discuss changes to tailor it to how we work in this project. The main difference is that the gui is pre-1.0 and therefore doesn't use hotfixes or release branches.

[2017-09-09 23:49] jnm2 commented on #287
Thanks Charlie, will move.

[2017-09-09 23:50] jnm2 commented on #287
Issue moved to [nunit/nunit #2429](https://github.com/nunit/nunit/issues/2429) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-09 23:50] #287 closed

[2017-09-10 21:43] CharliePoole opened #289 "Warnings not displayed"
The console displays a report of failures, errors and warnings only if the overall result is failure. If there are only warnings it is not displayed, but it should be.

[2017-09-10 21:44] CharliePoole commented on #289
See the logic of NUnitLite for comparison.

[2017-09-11 13:30] jakubmichalec opened #290 "ConsoleRunner, nunit2 format xml blank test results"
I'm upgrading our all automate tests to latest nunit, we have ~1100 selenium tests, during full build some of test results xmls're empty and build fails.

[code]

When I use new (nunit3) format all xml's are created as they should.

[2017-09-11 15:56] CharliePoole commented on #290
Can you see anything in common in the nunit3 XML for those tests that fail to generate nunit2 results?

[2017-09-11 17:12] jakubmichalec commented on #290
nope and even in two almost the same runs (run on weekend so no commits), different tests have empty xmls (I tried to find some pattern for that). If I run much smaller no of test (eq 100), than all work ok.

[2017-09-11 17:19] CharliePoole commented on #290
What you're doing in running nunit in a loop is a bit unusual. Could be a re-entrancy problem in the extension. Can you try with a delay between executions?

[2017-09-11 17:40] jakubmichalec commented on #290
There's a 100ms delay, I'll increase that

[2017-09-14 03:14] ManfredLange opened #291 "Error running tests from assembly built using VS2017 csproj file format"
# Steps to reproduce:

1. In Visual Studio 2017 create a new project to create a new project of type "Class library (.NET Standard)" to contain your tests
2. Edit project file and change the value of <TargetFramework> from "netstandard2.0" to "net461"
3. Add nuget package "NUnit"
4. Add another nuget package, e.g. Autofac, and add code that reference a symbol in that other package
4. Add one or mo

[2017-09-14 15:37] Eric-Pang commented on #255
Hi there, I too am experiencing the same issue on our TeamCity builds with NUnit 3 console runner version 3.6.1, I also tried to use your Dev releases as mentioned in this thread with the command line parameters --remoting-wait-after-stop --remoting-shutdown-delay=5000 but with no success. I am still getting exit code -100 as below.

`[15:32:27][Step 2/2]
[15:32:27][Step 2/2] Errors, Failures and

[2017-09-14 20:15] craigfowler commented on #25
I'd like to chime in an additional use-case for this (or something/anything like it):

The **Travis** CI platform (and perhaps others too) has a timeout rule whereby it cancels a build if no output has been made to the console for 10 minutes (seems like the intention is to detect & cancel hanging builds).  Travis provide a workaround for this but it's not elegant.

When using NUnit to drive *actua

[2017-09-14 23:13] rprouse commented on #25
@craigfowler assuming none of the individual tests take more than 10 minutes, you could use the labels option for the NUnit console to output the test names as they are being run.

[2017-09-14 23:17] rprouse commented on #291
Excellent report, thanks. As a temporary workaround, although not a great one, you should be able to use the Visual Studio adapter and the `dotnet test` command.

[2017-09-15 01:07] ManfredLange commented on #291
@rprouse Thank you for the suggestion, I'll give that a try.

[2017-09-15 01:28] CharliePoole commented on #291
@ManfredLange @rprouse Maybe I'm behind the curve. Can one of you explain why this is a bug? NUnit is supposed to work from assemblies and only assemblies. It does nothing to load any assembly but the first one and all resolution is done by the runtime or - in the case of dynamically loaded assemblies - by the appication itself.

If this were to be implemented, how would you run tests deployed for

[2017-09-15 02:12] jnm2 commented on #255
@Eric-Pang Thank you. That is a whole new call stack.

[2017-09-15 02:34] ManfredLange commented on #291
Yes, I agree, it should be able to work off an assembly only. However, with the change in the tooling it seems that it is not sufficient to point nunit3-console to the assembly anymore. Execution will fail with the FileLoadException.

I just reproduced this once more, this time building the project using "dotnet build". It builds fine, just like building from VS2017. Those two build options appear

[2017-09-15 11:56] Eric-Pang commented on #255
Here's the log when using NUnit 3.6.1

[12:49:27][Step 7/8]
[12:49:27][Step 7/8] Errors, Failures and Warnings
[12:49:27][Step 7/8]
[12:49:27][Step 7/8] 1) Error : C:\BuildAgent\temp\buildTmp\44aT9DppeWDft5UR7XS5h30eugFzJeeu.nunit
[12:49:27][Step 7/8] **Exception encountered unloading AppDomain**
[12:49:27][Step 7/8]
[12:49:27][Step 7/8] Server stack trace:
[12:49:27][Step 7/8]    at NUnit.Engine.

[2017-09-15 12:39] rprouse commented on #291
@charliepoole, the issue is that Visual Studio doesn't copy dependent assemblies into the bin directory when it builds using the new project format.

[2017-09-15 13:02] CharliePoole commented on #291
Understood. That was my points to why it shouldn't be seen as an NUnit issue.

[2017-09-15 18:19] craigfowler commented on #25
Wow, @rprouse. I can't believe I read through the help text of `nunit3-console` so many times and every single time failed to spot that option which pretty clearly does exactly what I wanted.  I pored over it on numerous occasions and completely failed to notice exactly the option I wanted.

D'oh.  Yes - this does do exactly what I want for this scenario.  Thanks.

I'll now go get my eyes tested.

[2017-09-15 20:12] mikkelbu commented on #289
I was looking into the code (and comparing with NUnitLite), and I found that I probably have to change the following line to also call `WriteErrorsFailuresAndWarningsReport` when `OverallResult == "Warning`
https://github.com/nunit/nunit-console/blob/4c006f9618cbc4eb083a139dd75b5ccf4c1fa08c/src/NUnitConsole/nunit3-console/ResultReporter.cs#L69-L70

However, I have a question regarding `OverallResu

[2017-09-15 20:23] CharliePoole commented on #289
Without looking at the code, it seems to me that...

1. Your first example is correct. Ignored tests are given a "warning" level historically. When I created the new Warning result, I proposed using it for ignored tests, but the team wanted to keep the traditional `Skipped:Ignored` designation for backwards compatibility. I think this is the only remnant of our older way of reporting, but I can't

[2017-09-15 22:52] ManfredLange commented on #291
The challenge I see - and that is why I file this issue - is that in the past (prior to the new csproj file format) it was possible to just point to the assembly and nunit-console would run as expected.

Where does that leave the users of nunit-console? Are we saying don't use it anymore and instead add the test adapter to the project and then use "dotnet test"? If that is our answer then nunit-co

[2017-09-16 00:05] ManfredLange commented on #291
Assuming in my quick check I found the correct line of code there appears to be at least one instance where package Microsoft.NET.Test.Sdk [adds an AssemblyResolve event handler](https://github.com/Microsoft/vstest/blob/b91bd795e53806da15ebc6ad6ebd4cc22e710d72/src/Microsoft.TestPlatform.Common/Utilities/AssemblyResolver.cs#L65). This could potentially explain why nunit-console works with this pack

[2017-09-16 14:15] rprouse commented on #291
I would agree in principle, but we aren't going to change the way that .NET builds. We also support it with the `dotnet test` command because of the Microsoft.NET.Test.Sdk resolve handler (thanks for finding that @ManfredLange, I was actually wondered how it worked for .NET Core projects 😄 )

I wonder however if adding the `Microsoft.NET.Test.Sdk` is the correct solution to this, not the workaroun

[2017-09-16 14:16] rprouse commented on #51
Agreed that this is probably a result writer issue. I am going to move it.

[2017-09-16 14:16] rprouse commented on #51
Issue moved to [nunit/nunit-v2-result-writer #9](https://github.com/nunit/nunit-v2-result-writer/issues/9) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-16 14:16] #51 closed

[2017-09-16 14:19] rprouse commented on #25
@craigfowler it isn't just you. We have so many options that the help text has become a wall of text. Even my eyes glaze over and I can never remember all the options we have 😄

[2017-09-16 20:13] ManfredLange commented on #291
My two cents: I think adding Microsoft.NET.Test.Sdk is a workaround for the new csproj format. Based on the experiments it appears that all that is needed is an appropriate AssemblyResolve event handler.

Everything else coming with Microsoft.NET.Test.Sdk may not be needed. But then again, that package may not be too much of a burden in the first place. If that is the case, perhaps making it a dep

[2017-09-17 17:10] CharliePoole commented on #291
@ManfredLange I would have no problem with using an AssemblyResolve handler if we could do it well. What I'm not clear on is how NUnit can know where to look for the assembly in order to resolve it. The engine has no knowledge that it is running in an output directory created by VS and certainly doesn't know what project format was used. Some application that's calling the engine has to tell it. T

[2017-09-17 17:12] CharliePoole commented on #291
@ManfredLange BTW - in case you were not aware - I'm on vacation and many of my limited responses are via my cell. Hence, the infrequency and lack of detail in my posts. 😄

[2017-09-17 19:05] mikkelbu commented on #289
@CharliePoole you are right about both issues. Wrt. 1) we have the following "translation"
https://github.com/nunit/nunit-console/blob/175ddc7fd59ef4852751e908dcc2428f57fb20b7/src/NUnitConsole/nunit3-console/ResultReporter.cs#L43-L44
and wrt. 2) we have the missing handling of Warning in this `switch`
https://github.com/nunit/nunit-console/blob/175ddc7fd59ef4852751e908dcc2428f57fb20b7/src/NUnitEng

[2017-09-19 08:45] skovsende commented on #218
Cake.ExtendedNuGet has now been updated to support Cake 0.22.2, so you should be able to continue now.

[2017-09-20 11:52] Fernell commented on #191
Same error here on nunit3-console v3.7. I've removed throw `new NUnitEngineException("Exception encountered unloading AppDomain", _unloadException);` in DomainManager.cs and it works like a charm

[2017-09-20 12:57] MihaMarkic opened #293 "4.6.2 test library referencing .netstandard 2 library won't work with ValueTuple"
I'm getting this when running nunit-console (or test runner within VS2017)

System.IO.FileLoadException : Could not load file or assembly 'System.ValueTuple, Version=0.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies.

Test library is a .net 4.6.2 referencing .netstandard 2.0
[Sample code](https://misc.rthand.com/NUnitValueTuple.rar).

Code being tested:
[code]

[2017-09-20 13:03] MihaMarkic commented on #293
Upgradin to .net 4.7 doesn't help

[2017-09-20 15:31] CharliePoole commented on #191
@Fernell Funny thing, you've put us back to our traditional approach of ignoring these errors. We added an exception when people complained about the silent failure. We've been tinkering with it ever since.

[2017-09-20 17:35] asbjornu commented on #225
I just got the same problem in a set of tests that execute just fine in ReSharper's test runner. Not having the stack trace of the failing test available makes this very hard to debug. This is all I have to work with:

[code]

I'm using `nunit3-console.exe` version `3.7.0` and I'm only passing in the path to three `.dll` files, not using `--explore` or anything else.

[2017-09-20 18:06] asbjornu commented on #225
Interesting. Adding the `--inprocess` argument made `nunit3-console.exe` process crash, so by building `nunit-console` locally and copying the build output into the problematic project, I was able to attach to the `nunit3-console.exe` process and figure out that there was some weird edge case code being triggered that caused a `StackOverflowException`. Fixing the problematic code also fixed the te

[2017-09-20 20:15] Fernell commented on #191
Well, you can not satisfy everyone. I was struggling with this error for some time because our code seems to work properly (all tests are passing when I commented this exception) and I was unable to find out why it crashes anyway. Perhaps it should be configurable if exception should be thrown or not (like some --silent-domain-unload-failure flag). Anyway sorry for being troublemaker here.

[2017-09-21 00:07] CharliePoole commented on #191
No bother... I preferred the old approach myself. However, it causes a problem when a large number of appdomains can't be unloaded and continue to take up memory. They may also be holding other resources that are needed by the tests.

Personally, I would favor removing the exception in order to design some better way to notify the user of the problem.

[2017-09-21 05:05] jgrossrieder commented on #191
100% agree too. IMHO, it's better to maybe loose a notification than just prevent the whole tests to execute.

[2017-09-21 09:16] ChrisMaddock commented on #191
This suggestion of yours is still the best idea imo @CharliePoole. Just needs someone to do a pull request for it... @Fernell or @jgrossrieder, either of you interested? 😄

[2017-09-21 12:16] jnm2 commented on #225
In the interest of full disclosure, my intent is to not spend more time on patching the current remoting system but to replace it with a lighter weight manual implementation. Right now it's second from the top of my todo list. However, if you spend time diagnosing the situation and believe you have a fix, I'm happy to help get that in to help people short-term.

[2017-09-21 12:54] CharliePoole commented on #225
@jnm2 So what's the status of this issue then? It shows as Open but with a label of closed:done and assigned to you.

[2017-09-21 14:13] jnm2 commented on #225
@CharliePoole Yes, that is confusing. What should I tag it as, wontfix? It's not a duplicate of https://github.com/nunit/nunit-console/issues/266 but it is superseded by it.

[2017-09-21 17:22] CharliePoole commented on #225
@jnm2 Well, I was thinking somebody else might fix it since you said you didn't want to work on it any more. I don't think closing it as won't fix is right unless that's Rob's decision. It's a reported bug that apparently still exists.

If you merely no longer want to work on it personally, then I'd say to just take your name off it.

[2017-09-21 17:28] jnm2 commented on #225
Works for me. It makes sense to leave this issue open until remoting is replaced in case anyone comes up with a suggestion to fix the remoting issue.

[2017-09-21 23:28] rprouse commented on #225
@asbjornu unfortunately, `StackOverflowException` is one of the exceptions that cannot be caught, because of that, the agent just crashes and doesn't get a chance to report back to the console runner why it crashed. There are several other exceptions like this.

I have been suspicious that many of these errors that users report are actually uncaught exceptions in their test code and have nothing t

[2017-09-22 01:11] CharliePoole commented on #225
@rprouse It's probably a matter of personal preference, but I use the `--debug` option to debug the agent. It requires an extra step by the user but it runs the tests in the same environment (under the agent), which is an advantage. Both are, of course, available to users.

[2017-09-22 07:56] asbjornu commented on #225
@rprouse: Yes, a wrap around the `SocketException` providing that message would be very helpful.

[2017-09-22 12:17] jnm2 commented on #225
@rprouse That's a really good angle!

[2017-09-22 12:33] sethflowers commented on #225
Just my two cents, but please don't close the issue. We have the same issue on TeamCity. I've been watching this issue hoping for some resolution. We've tried upgrading to 3.7.0 but that didn't cause anything to change. I doubt that it is something in our code, otherwise I would expect it to surface locally running through the normal VS nunit adapter. It's been happening for months now. Roughly 1

[2017-09-22 14:52] tfabris commented on #225
@rprouse - You said "I have been suspicious that many of these errors that users report are actually uncaught exceptions in their test code".

This idea is inconsistent with the behavior that I have seen related to the socket exception bug, which is:
- The bug did not occur in an earlier version of Nunit.
- The bug only started occurring when we upgraded to a new version of Nunit.
- The bug occurs

[2017-09-22 14:59] jnm2 commented on #225
That means, in theory, we could do a git bisect to identify the commit that introduces the issue. That might shed light on it.

[2017-09-22 14:59] jnm2 commented on #225
I see hope... I'm interested again. 😄

[2017-09-22 15:12] tfabris commented on #225
@jnm2 - Our version jump, between the time that we didn't have the bug, and the time that we started encountering the bug, was very large. We jumped from 2.6.4 to 3.6.1. So I don't know if there is an easy way to locate the version which induced the bug. Maybe someone else has a narrower range.

[2017-09-22 16:33] CharliePoole commented on #225
Title of this issue says we are talking about an error with the `--explore` option. Some folks have commented that they have the "same issue" but are not using `--explore`. As a start to narrowing it down - or deciding if we actually have two issues - it would be useful if those participating in this thread clarify whether they are talking about the "explore issue" or something more general. Using

[2017-09-25 11:04] MihaMarkic commented on #293
(not a big deal since one can always switch to .netcore for hosting unit tests)

[2017-09-27 10:32] riverhead013 opened #294 "NUnit Console Runner 3.7.0 reports that format nunit2 is unknown"
Hello, I'm trying to set up nunit 3.7.0 using Bamboo CI.
Currently I'm getting next error:
`build	27-Sep-2017 13:13:43	Unknown result format: nunit2`

As a solution I've tried to put nunit-v2-result-writer.dll into tools folder but it didn't help.
Any suggestions?
![nunit](https://user-images.githubusercontent.com/11230919/30909015-4c53f9ec-a388-11e7-96e6-5f4f62d92b10.png)

[2017-09-27 10:43] ChrisMaddock commented on #294
The path in your .addins file need to point to the location of nunit-v2-result-writer.dll. That will load the extension.

How are you getting the console runner onto your server? It looks like you've installed nunit.consolerunner from NuGet, and then manually copied in nunit-v2-result-writer.dll. If you install both NUnit.ConsoleRunner and NUnit.Extension.NUnitV2ResultWriter directly from NuGet, i

[2017-09-27 10:43] #294 closed

[2017-09-27 16:07] algot commented on #162
Is namespace filter is working in the 3.6.1?

I have tests under namespace "Namespace1.Namespace2.Namespace3"
When I run following command filter returns 0 tests
`c:\dev\nunit-console\nunit3-console.exe --labels=All Autotests.dll --where "namespace == Namespace1.Namespace2.Namespace3"`

`NUnit Console Runner 3.6.1`
`Runtime Environment`
`   OS Version: Microsoft Windows NT 10.0.15063.0`
`  CLR Ver

[2017-09-27 16:27] CharliePoole commented on #162
You need at least version 3.7 of both the console and framework to use the feature.

On 3.6.1, you can use "test == namespace1.namespace2.namespace3" instead. However, it will include tests in any subnamespace under namespace3 in addition. The `namespace` keyword was added to allow you to specify the exact namespace, excluding any subnamespaces.

[2017-09-27 18:09] tfabris commented on #225
My answer to the `--explore` option: We only encounter the issue when running our test cases under Team City using Team City agents. I believe this means that the `--explore` option is always used, since I think that is part of the way Team City sets up and runs the tests.

[2017-09-27 20:32] CharliePoole commented on #225
@tflabris I didn't realize that about TeamCity. That explains a lot!

[2017-09-27 20:40] tfabris commented on #225
Team city has a feature where it re-orders the test cases, so that tests which failed on a prior buildrun are first in the execution order of the next buildrun. This is so that you can check in fixes and then see immediately whether or not your fixes pass the tests.

I think (not certain) that's what it's using the `--explore` option for. I think it does that every time, regardless of whether or n

[2017-09-28 15:03] ecly commented on #255
Is this related?
Running a single supposedly 6-7 minute running test with ConsoleRunner from a bat script.
NUnit v3.8.1 with ConsoleRunner 3.7.0

Server stack trace:
   ved System.Net.Sockets.Socket.Receive(Byte[] buffer, Int32 offset, Int32 size, SocketFlags socketFlags)
   ved System.Runtime.Remoting.Channels.SocketStream.Read(Byte[] buffer, Int32 offset, Int32 size)
   ved System.Runtime.Remoti

[2017-09-29 08:53] ecly commented on #255
My above comment turned out to be a problem with our code and can be disregarded.

[2017-10-02 15:18] mitchellmaler opened #295 "Run tests in parellel based on property or specify it to console runner to not run in parallel"
Hello,

I am using nunit to run my Selenium tests and running the fixtures in parallel work great when using Chrome and Firefox headless but when I run IE it can't due to it not a headless browser. Is there an easy way to tell nunit to not run in parallel by passing a parameter to the console runner? I am guessing I can't really do this in code since the attribute is added during compilation.

My

[2017-10-02 15:35] ChrisMaddock commented on #295
I believe passing --workers=1 should limit the parallelism to using a single worker thread, and therefore run everything sequentially. 🙂

[2017-10-02 15:35] #295 closed

[2017-10-02 15:58] CharliePoole commented on #295
Passing `--workers=1` will run the parallel dispatcher with only one MTA background worker. If some tests run in the STA, they may execute at the same time as a parallel test in the MTA. If that occurs, using `--workers=0` will force pure sequential execution. A better alternative is probably to ensure that all STA tests are non-parallel.

[2017-10-03 01:48] mitchellmaler commented on #295
Awesome that is exactly what I needed! Thanks!

[2017-10-05 16:53] kdubau commented on #259
I think I am having the same issue. Any thoughts on how to determine what in my test is causing the issues?

[2017-10-06 12:17] ChrisMaddock commented on #259
@kdubau There were a few ideas in the post below, that would require fairly simple modification to the NUnit Console codebase.

https://github.com/nunit/nunit-console/issues/111#issuecomment-256897931

[2017-10-06 12:18] ChrisMaddock commented on #111
@octoberclub - I've removed you assignment to open this issue up to others - if you're able to come back to it, the contribution would still be welcome! 😄

[2017-10-07 16:48] ChrisMaddock opened #296 "Nunit-agent-x86 process never exits when created through TestEngineActivator API in 3.4"
@ethantang95 commented on [Sat Jul 16 2016](https://github.com/nunit/nunit/issues/1679)

When a test engine/runner is created through the TestEngineActivator API and after the test process finishes, the Nunit-agent-x86 process never exits and therefore is taking up memory still. On Task manager, it is listed as an active process.

This happens even after calling

`
            _testRunner.StopRun(

[2017-10-07 19:19] CharliePoole commented on #296
Just adding a clarification here to @ethantang95's comment...

The agent process is created through the engine API at the point a test is loaded, not when TestEngineActivator is used to create an instance of the engine.

Additionally, the title seems to suggest that there is some other way to create the agent process other than through the API. There isn't - or at least there isn't any other suppo

[2017-10-10 10:26] Jevonius commented on #225
Hello, we have recently started seeing this error following a rebuild of our [TeamCity] build agents where we moved from (zip versions of) nunit-console 3.2.1 to 3.7.0.

We've only seen it a few times in the last ~25-30 builds, but so far it always fails during the unit tests (rather than our integration tests - i.e. no networking/sockets). Our code is split across multiple projects, so there are

[2017-10-10 11:28] CharliePoole commented on #225
A minor comment: your command-line includes both --explore and --result. The first causes the action to be explore and saves the result. The second says where to save the execution result but no execution takes place because explore was specified. This probably isn't the cause of the problem, but it's a little odd.

[2017-10-10 12:25] Jevonius commented on #225
Hi Charlie, I agree very odd - I've just had a look at ConsoleRunner.cs and can see the switch you mean. Perhaps the TeamCity logging is lying, and it runs the console twice (first to explore, then to run) and logs it oddly?

I've been trying to replicate the bug outside of TeamCity but am having no luck - it never fails! At this point, I'm considering making a debug build from 3.7.0's source, per

[2017-10-10 15:33] Jevonius commented on #225
We have had a few more failures now, at different points - TeamCity _does_ run the console twice for each test DLL - once with `explore` for each DLL, and then again with `testlist` for each. At a guess, this might relate to the re-ordering @tfabris covers above (and/or for some other reporting that TC does).
I suspect the `result` is included for both automatically. Example calls:
[code]
There ar

[2017-10-10 17:05] CharliePoole commented on #225
It's weird and confusing to users but not to NUnit. The --result is ignored when exploring. Probably, the TC devs decided it was simpler to just include that parameter all the time.

[2017-10-12 13:34] ChrisMaddock opened #298 "Invalid --framework option throws exception"
I can never remember the framework names, so I guessed at:

    nunit3-console .\Tests.exe --framework=20

This throws the following stack trace:

[code]

We shouldn't throw an exception in this case, and instead return an invalid argument notice.

[2017-10-12 13:36] ChrisMaddock opened #299 "Attempting to target too low a framework throws exception"
I just tried to run my tests built against .NET 4.0 with `--framework=2.0`. This threw the following exception:
[code]

I think we used to have specific handling for this situation which returned a helpful error message. We should check for that - and add some if not.

[2017-10-12 17:08] jnm2 commented on #239
I just hit this at work with NUnit 3.7.1 (and console 3.7.0), so staying away from 3.8.x isn't good enough for now.

[2017-10-12 20:19] CharliePoole commented on #299
I think it used to work as well. Somebody may need to figure out what happened and leave some info for the person who works it if we are making this "help wanted."

BTW, can we clarify the definition of labels in the wiki to include this and say what it means. In particular, it sounds a bit different from the old up for grabs label. That is, "help wanted" would sound to me like "we don't intend/kn

[2017-10-14 10:16] kwojciechowski commented on #259
I have the same issue

[2017-10-14 19:39] marceloatg commented on #255
Hi guys, I migrated a framework recently to Core 2.0 (It was .NET Framework 4.7 before) and started having the same issue. My log is very similar to @Eric-Pang, but I will post it anyways.

Is there any workaround when working with TeamCity?

`JetBrains dotCover Console Runner 2017.2.2. Build 109.0.20171006.131113
Copyright (c) 2009-2017 JetBrains s.r.o. All rights reserved.
[JetBrains dotCover] C

[2017-10-19 14:56] Jevonius opened #300 "Agents do not respect the Console WORK parameter when writing log file"
I'm digging into #225 and using the `--work` parameter to write the log files to a set location outside of our TC working folder (so that they don't get cleared on the next build). Unfortunately the agent process doesn't get passed this value, so just writes the log file to the default execution location (compare https://github.com/nunit/nunit-console/blob/master/src/NUnitEngine/nunit.engine/TestE

[2017-10-19 15:21] ChrisMaddock commented on #300
I would agree this is an oversight - thanks for offering the PR!

[2017-10-19 16:31] CharliePoole commented on #300
This is left over from the time when we didn't use the Work directory for trace output. The console itself and the test framework all use the work directory but the agent was not converted to use it. FWIW the test framework output is what should be of greatest interest to users. The console and agent traces are really only useful for debugging NUnit. Nevertheless, they should all be in the same pl

[2017-10-19 17:17] CharliePoole commented on #298
The choice is between fixing `RuntimeFramework` and fixing `MasterTestRunner`. But the `RuntimeFramework.Parse` method is called in four different places in the engine, so it makes sense to do the fix there. My inclination would be to make it into a `TryParse` method.

[2017-10-20 11:38] #298 closed

[2017-10-20 16:07] dialex opened #303 "Run NUnit tests on linux/debian"
[Following your doc](https://github.com/nunit/docs/wiki/Console-Runner) it seems it is possible to execute `nunit3-console.exe` on linux to run the tests. However I got this error

[code]

I gave it `+x` chmod permissions, but I got the same result. What am I doing wrong?

[2017-10-20 18:12] CharliePoole commented on #303
For better or worse, the doc page only demonstrates running on Windows. Maybe we need to add a section toe Linux.

Some Linux distro are set up to run .exe files under mono without being told but others require you to use the mono command.

[2017-10-20 22:48] #284 closed

[2017-10-21 11:43] #303 closed

[2017-10-23 11:50] ChrisMaddock commented on #273
#301 improves the error message. I'm now going to move this issue to the nunit-project-loader repo for the potential bug to be investigated here.

[2017-10-23 11:50] #273 closed

[2017-10-23 11:50] ChrisMaddock commented on #273
Issue moved to [nunit/nunit-project-loader #13](https://github.com/nunit/nunit-project-loader/issues/13) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-23 12:02] ChrisMaddock commented on #272
I don't believe there's an issue to be solved here. Happy to reopen if I've missed something!

[2017-10-23 12:02] #272 closed

[2017-10-23 12:22] ChrisMaddock commented on #289
@mikkelbu - I've added this to the 3.8 console milestone, which I've made up from high-impact/low-work bugs. I don't expect us to get through them at any point in the next month or two, but just wanted to check that this one was still on your radar, or if you'd rather unassign yourself. 😄

[2017-10-23 12:31] ChrisMaddock commented on #266
@jnm2 - I've added this to the 3.8 milestone, as one of the bugs causing people most pain in the console at the moment. Given the work involved, I imagine we might want to move it to a future release, but I think it's one that we-as-a-team should keep an eye on. Hope that's ok!

[2017-10-23 12:49] jnm2 commented on #266
Yes, I definitely want to get to this and would welcome involvement from everyone. I have begun to suspect [as Rob suggested](https://github.com/nunit/nunit-console/issues/225#issuecomment-331309056) that at least some of the time the SocketException is just masking the fact that the agent process crashed because of test assembly or NUnit framework issues (say, CPU pegging). If true, this would co

[2017-10-23 13:02] ChrisMaddock commented on #266
Ah ok. Maybe this isn't the silver bullet I was hoping for. 😞

I guess the StackOverflow case can only be viewed with `--debug`. I'm not sure what other cases would look like, and if there's any way we could squeeze more information out of agent crashes. Incidentally, this is exactly the issue I've been looking at with https://github.com/nunit/nunit-console/issues/228 today!

[2017-10-24 06:34] mikkelbu commented on #289
@ChrisMaddock actually, I've a bundle containing the correction for weeks, but I've not have time to test it properly (and write some tests), so it is still on my radar, but prioritised a bit low :)

[2017-10-26 13:40] NikolayPianikov opened #305 "When test writes something to the stdErr there is no guaranteed way to link a test-output event to a target test using ITestEventListener"
For example:

- Unit test `SuccessfulStdErrorTest` has code: `System.Console.Error.WriteLine("errorout");`

- ITestEventListener receives the following events:
[code]

`test-output` has no information id/parentId about a target test and there is no way to attach this error output. It is important to note that these events could be received from different tests simultaneously.

See this [sample](ht

[2017-10-26 13:48] CharliePoole commented on #305
We should examine how the console handles this in its own output and see whether the listener can do the same. If a change were needed, however, it would be in the framework. The engine and console only pass the XML received.

[2017-10-26 16:12] ChrisMaddock commented on #305
I don't believe the console has any need to tie stderr input back to a specific test - it just prints it alongside the test name, doesn't it?

The adapter, I think relies on unique test names, which we know causes us problems there. Charlie - does the GUI log test-output? And if so, how does that do the association?

This seems like a sensible change to me - unless we're missing something.

[2017-10-26 16:19] CharliePoole commented on #305
I'm saying that the console manages to associate error output with the test. If you use labels, we display the test name over it. The fact that test names are non-unique causes us no practical problem. JB decided it was a problem for some reason and created a bunch of ids and parent ids that we don't need in NUnit itself. We modified several events to give them what they wanted. Most likely, they

[2017-10-26 21:42] CharliePoole commented on #271
Taking my name off this to free it up for somebody else.

[2017-10-27 00:06] honeynair opened #306 "How can i specify specflow tags in nunit console 3 command line options to filter the test scenarios?"
I am using specflow 2.2.1 and nunit 3 with Visual studio 2015 for selenium testing.
Wanted to run tests based on tags using nunit console say 1 or 2 from a feature files which has got 5 or 6 scenarios.

I have tags like this
@Login @Desktop @WIP
Feature: Login
This is to test the login functionality of the site

Please help

Thanks
Honey

[2017-10-27 00:32] rprouse commented on #306
By tags are you talking about NUnit categories or are Tags a SpecFlow construct? If the later, you will need to ask there as most of the NUnit team doesn't use SpecFlow. If it is categories, then you can specify using a `-where` clause on the command line.  See https://github.com/nunit/docs/wiki/Test-Selection-Language

[2017-10-27 01:06] honeynair commented on #306
@rprouse  Thank you. It is Specflow tags. Sorry to confuse you.  But glad that figured out the category from the above link.

Thanks
Honey

[2017-10-27 01:09] rprouse commented on #306
@honeynair I am going to close this as a question. If you still need NUnit specific help, comment here, we will see it and try to help.

[2017-10-27 01:09] #306 closed

[2017-10-27 09:59] Rajkumar-Uppala commented on #255
Hi Team,
We are trying to Upgrade our Projects from Nunit 2.6.3 to 3.6.1

We are facing an issue with  "Exception encountered unloading AppDomain" then it is terminating with "Agent Process was terminated successfully after error" .
We are using Teamcity for automated test run.
Few blogs here says that the issue might be due to 'long running test cases'  or 'any unhandle exceptions during test run

[2017-10-27 10:45] michael-kokorin commented on #255
@marceloatg I've resolved this issue in my TeamCity build by specifying full path folders where tests can be found.
I.e. instead of *.Tests.dll for searching tests
I specified {ProjectName}.Tests/bin/Release/*.Tests.dll

This resolved issue

[2017-10-27 11:42] Rajkumar-Uppala commented on #255
@michael-kokorin  we are specifying the below pattern to fetch the tests against the 'Run tests from' in the build step
Run tests from: %system.TestOutputPath%\**\*.Test.dll
which is something similar to the pattern which you have advised. but still we are facing this issue.
Could you please provide more clear information about the exercise you did to address this issue?

Thanks & Regards,
Rajkuma

[2017-10-27 12:00] ChrisMaddock commented on #255
@Rajkumar-Uppala

Based on your stack trace, you have a different issue - yours is here: https://github.com/nunit/nunit-console/issues/191

How are you running the tests locally, where you can't reproduce? I suggest you try fetching the .nunit project file generated by TeamCity, and see if you can reproduce the issue using that, and try on the same machine as TeamCity is running.

[2017-10-27 12:17] Rajkumar-Uppala commented on #191
Hi Team,
 We are trying to Upgrade our Projects from Nunit 2.6.3 to 3.6.1

We are facing an issue with "Exception encountered unloading AppDomain" then it is terminating with "Agent Process was terminated successfully after error" .
 We are using Teamcity for automated test run.
 Few blogs here says that the issue might be due to 'long running test cases' or 'any unhandle exceptions during test ru

[2017-10-27 12:20] Rajkumar-Uppala commented on #191
@ChrisMaddock - thank you for your advise on this
You have stated that
**How are you running the tests locally, where you can't reproduce? I suggest you try fetching the .nunit project file generated by TeamCity, and see if you can reproduce the issue using that, and try on the same machine as TeamCity is running.**

Could you please help me to elaborate how to do this.
I am bit confused on your a

[2017-10-27 12:39] ChrisMaddock commented on #191
You'll want to pass that .nunit file into the NUnit Console - as TeamCity is doing. Visual Studio shouldn't come into it.

If you're currently running in the visual studio test window, you won't see this exception due to the way tests are run. Hopefully running in the console may give you a repro.

[2017-10-27 12:45] Rajkumar-Uppala commented on #191
@ChrisMaddock - Thank you for the advise.
I am not familiar with Nunit Console. Will try to explore this and see how it helps.
Meanwhile if you get any clue please do share with us.

[2017-10-27 15:16] michael-kokorin commented on #255
@Rajkumar-Uppala Yes, @ChrisMaddock  is right. You have a bit different error. I resolved issue that @marceloatg described.

I specified the following value for "Run tests from" field:
**\Bin\Release\*.UITests.dll

Any other values (including paths with ** inside path) are not working for me.

[2017-10-28 18:08] ChrisMaddock commented on #305
Issue moved to [nunit/nunit #2516](https://github.com/nunit/nunit/issues/2516) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-28 18:08] #305 closed

[2017-10-30 06:28] rutin31 opened #307 "Run randomaly parallel test on cmd with nunit console"
Hi
My nunit project is built like this:
[TestFixture("iphone.json"]
[TestFixture("android.json"]
    [Parallelizable(ParallelScope.Fixtures)]
    public class LoginTest
    {
[Test, Order(1)]
test1()
{}

[Test, Order(2)]
test2()
{}

[Test, Order(3)]
test3()
{}

}

Test explorer look like this:
LoginTest(iphone.json)
    test1
    test2
    test3
LoginTest(android.json)
    test1
    test2
    test

[2017-10-30 06:53] CharliePoole commented on #307
You can use either the `--test` or the `--where` option on the command-line to run selected tests. See https://github.com/nunit/docs/wiki/Console-Command-Line for details of the options.

[2017-10-30 06:53] #307 closed

[2017-10-30 07:04] rutin31 commented on #307
How can I run test1 for iphone and test1 for android together

[2017-10-30 13:19] WolfgangFahl commented on #270
Please reopen this. As outlined in https://stackoverflow.com/questions/45291234/running-nunit-tests-on-ubuntu-an-exception-occurred-in-the-driver-while-loading there should be no reason not to use mcs. I am using Mono JIT compiler version 5.0.1.1 and get the same weird error message which does not make any sense to me.

[2017-10-30 14:15] ChrisMaddock commented on #270
@WolfgangFahl - please try using the console from this PR: https://github.com/nunit/nunit-console/pull/304 - you can either build the source, or find a package here: https://ci.appveyor.com/project/CharliePoole/nunit-console/build/3.8.0-ci-03798-issue-228b/artifacts

This won't solve the problem, but should give you a more in depth error message so you can diagnose better.

[2017-10-30 15:37] CharliePoole commented on #270
I agree that it should be possible to build with simple Mono commands on Linux, without using xamarin or monodevelop. Some of our discussion of Linux support has become derailed - at least in my view - by focusing on how "escapees" from the Microsoft world typically build when working on Linux. But long-time users of Mono on linux typically use a command-line to build one file at a time and then l

[2017-10-30 16:04] CharliePoole commented on #307
For your example, assuming there are no other tests...

[code]

Test Selection Language is very powerful and requires some study to use it. Please read the docs!!!

[2017-10-30 16:37] WolfgangFahl commented on #270
@ChrisMaddock  and @CharliePoole
Thanks for looking into this so quickly.
At https://github.com/WolfgangFahl/fritz-csharp-api you can find what i tried to build and test.
I ran
./build
and then
./test

with the result below.

Unfortunately this project is not in my focus right now and my resources for it are too limited to follow a side track like this. I had hoped that with just a few lines of co

[2017-10-30 17:02] WolfgangFahl commented on #270
I have worked around the issue with https://github.com/WolfgangFahl/fritz-csharp-api/blob/master/fritzsimpletest.cs - i now feel foolish since i only needed to show a few comparisons and this is easily done with a single checkMD5 function.

[2017-10-30 17:53] kdubau commented on #225
This has all of a sudden started happening for us too 😢  - NUnit Console 3.6.1

[2017-10-30 18:06] ChrisMaddock commented on #225
@kdubau 'sudden' sounds like it has a cause. That's good news! 😄

Can you add `--trace=Debug`, and see if you get anything useful in the agent logs? We've been seeing this before as a communication protocol crash - but jnm2 rightly brought up that we see the same stack trace whenever the agent process crashes.  😞

[2017-10-30 19:16] garyjhill commented on #225
"This has all of a sudden started happening for us too 😢 - NUnit Console 3.6.1"

And in case its helpful, I found my way here as I just encountered this for the first time today as well. Our scenario matches most others described - TeamCity, recently converted to nunit3, running 3.6.1

I've had 2 consecutive build failures today which fail on different test DLLs, and the check in that triggered th

[2017-10-30 20:52] jpmnteiro commented on #225
My two cents. We've had the same problem, turns out it was an unhandled exception in the code (failed malloc when calling C++ function). It's probably worth capturing a dump of the process and running it under VS or windbg.

[2017-10-31 00:30] garyjhill commented on #225
Normally I'm the first to caution against blaming compiler/library/OS/etc for problems. In this case however no code under test has changed since we had consistent passes.

The upgrade to 3.7 appears to have solved the issue for us.

[2017-10-31 14:04] Rajkumar-Uppala commented on #191
Hi Everyone,
After lot of efforts, we found that the issue is with our code which is troubling.
With Nunit 2.6.1 it used to consider it as warning. But with Nunit 3.6.1 it is considering as Error.
Rootcause of the issue in our logic is due to one of the Nunit test cases is referring to actual **async await** service method instead of mock services.
As the test case is waiting for the result and wi

[2017-10-31 14:10] ChrisMaddock commented on #191
@Rajkumar-Uppala - thanks for following up. You're correct this has changed from a warning to an error - as you'll see above, we're actually considering changing it back!

In my opinion, it's important to flag it to the user in a non-ignorable way, so that the user can make some attempt to fix the issue. As you've seen - it often highlights a more fundamental issue in user-code. It would be better

[2017-10-31 14:26] Rajkumar-Uppala commented on #191
@ChrisMaddock - thanks for your comments on my reply.
I would like to add a point here for the benefit of all.

Please try to implement a process to include more information in detail as part of release notes/breaking changes (If there is any possibility) by which everyone will be benefited.
- Please try to  prepare some remediation steps to resolve issues (if you know what might create issue as p

[2017-10-31 19:24] ChrisMaddock commented on #191
It's a bit difficult to suggest remediation for a problem in user code! 🙂 As you say, the cause of your fail-to-unload is likely different to everyone else's cause in this thread!

We recognise it's currently not ideal though - so what we're doing to improve this experience:

- https://github.com/nunit/nunit-console/issues/191 - Continue writing test results when app domain fails to unload
- https

[2017-11-01 05:32] Rajkumar-Uppala commented on #191
@ChrisMaddock - I accept and can understand difficulty or pain to implement my suggestion.
My intension behind raising this is for the benefit of all and sharing my thoughts as I felt that this is the best platform where I got some useful suggestions which helps me to investigate the issue in different approach. May be you might get a chance to implement better way of documentation by considering

[2017-11-01 13:10] kdubau commented on #225
@ChrisMaddock you would never believe that when I added `--trace=Debug` it started working...

Going to try a few more times to get a repro with the trace enabled.

[2017-11-01 13:24] ChrisMaddock commented on #225
Maybe the logging's enough to slow it down and the race condition to become less likely. 😞

@jnm2's working on a more long-term fix at https://github.com/nunit/nunit-console/issues/266 - which will hopefully help.

[2017-11-01 13:50] kdubau commented on #225
Yea, I was about to suggest this smells much like a race condition. I've yet been able to reproduce the failure with `--trace=Debug` enabled, and when leaving it absent it fails every time. I'll use this as a work around for now.

Our assembly is also heavily dependent on TestCaseSource. Perhaps the reason it started "all of a sudden" for us is a growing set of TestCaseSources?

[2017-11-01 13:53] ChrisMaddock commented on #225
@kdubau - Sorry, I didn't clock the version from your first post. NUnit Console 3.7 had some significant improvements here. I'd try upgrading - that seems to have sorted the vast majority of cases.

[2017-11-08 09:58] bladeoflight16 commented on #284
Any idea when this is going to get released?

[2017-11-08 14:19] ChrisMaddock commented on #284
There's not a concrete date for the next console release yet - we're hoping to get some additional areas improved before the next release.

In the meantime, you can get a build of the master from our MyGet feed - at https://www.myget.org/F/nunit/api/v2

[2017-11-11 16:46] jnm2 opened #309 "No driver found if framework assembly reference has uppercase characters"
.NET assembly references are not case sensitive, but the engine fails to find a driver unless the assembly reference is precisely the lowercase string `"nunit.framework"`.

https://github.com/nunit/nunit-console/blob/416b54d2a215466a861b3fbea82adeb3c820ec62/src/NUnitEngine/nunit.engine/Drivers/NUnit3DriverFactory.cs#L32-L42
We should be doing something similar to:

[code]

Besides the correctness

[2017-11-11 16:51] CharliePoole commented on #309
#jnm2 Can you reproduce this error? Or is there some reference confirming that .NET recognizes reference without respect to case on all platforms, even those where the file system mixes case? That would seem to imply that the location of the actual assembly files doesn't use the file system., which would be weird!

As to your final comment, I sincerely hope I'm gone from the scene before we would

[2017-11-11 16:58] jnm2 commented on #309
Yes, sunk three hours trying everything I could think of before I realized what was happening.

https://docs.microsoft.com/en-us/dotnet/framework/app-domains/assembly-names:

I think we should follow the [robustness principle](https://en.wikipedia.org/wiki/Robustness_principle). If someone references `Nunit.framework.dll` for _whatever_ reason, why should the engine fail to run the tests?

Haha! W

[2017-11-11 17:25] CharliePoole commented on #309
@jnm2 Never heard kebab-case before and had to spend some time on google before I was convinced it isn't a racist reference. Apparently, the words look like the are on a skewer - ie kebab. However, the name appears to be a Wikipedia-created neologism going back only to 2012 and definitely sounds like it was chosen to deprecate the usage. Back in the day, it was just "the way things are done" for f

[2017-11-13 17:05] avikenjale opened #310 "--where: namespace !~ 'my.name.space' not supported/hangs in 3.2.0"
Currently I have installed on my development machine nunit 3.7, where I can exclude any project/namespace/class using command `nunit3-console my.solution.file.sln /config:Release --where: "namespace !~ 'my.name.space'"`. This works perfectly in seconds. however on my build server installed version is 3.2.0 where same command line arguments runs test step infinitely.  Is the only solution to instal

[2017-11-13 17:19] CharliePoole commented on #310
The namespace keyword was only added in NUnit and NUnit-Console 3.7 - you need both to make it work.

You may be able to use `test !~ 'my.name.space'` with the same effect, depending on the structure of your namespaces.

[2017-11-13 17:19] #310 closed

[2017-11-13 17:58] avikenjale commented on #310
@CharliePoole,  I tried after your suggestion, however it throws error saying these tests are not available under other projects, as I am running `nunit3-console` against `.sln` file.

[2017-11-13 22:03] CharliePoole commented on #310
That's a different matter. Are you saying this works well on your development machine using the solution file? In that case, I'd say it's another bug, which was fixed in the newer release. Is there a reason to be using an old version of nunit on the server? There have been a lot of bug fixes since 3.2, which was released in early 2016 and it's a bit of an anti-pattern to be using different tool ve

[2017-11-14 14:56] elektromodulator opened #311 "Copying console runner exe to output directory"
The NuGet package lacks an MsBuild target file, so nothing happens with the package contents during build.
It would be handy, if the package would configure the project file, so the console runner exe is copied to the build output directory of the project.
Now I have to manually edit my project file to copy everything, every time I update the NuGet package to a new version.

[2017-11-14 15:44] avikenjale commented on #310
I agreed to your point. However couldn't understand one thing, thru Visual studio 2015 I have reSharper, where not sure which nUnit test used, however, test run - coverage works perfectly fine, however when I use nunit3-console (3.2)  as `nunit3-console my.solution.file.sln /config:Release` it is looking for tests under normal class-library .dll files whereas `nunit3-console my.solution.file.sln`

[2017-11-14 16:02] CharliePoole commented on #310
That's easy... nunit-console is doing a much simpler job. The only kind of tests that it can run are nunit (v2) tests. So it just takes each assembly and tries to load it as an nunit test file. If it won't load, it's not such a file and can be ignored.

OTOH, nunit3-console can run __any__ test framework for which a driver is provided. We provide a builtin nunit 3 driver and a user-loadable extens

[2017-11-14 18:18] rprouse commented on #311
Why do you need to copy the runner into the build directory, just so that it is easier to find and type? Most users just run it from the tools directory from the packages folder in the solution root. Copying the runner would also mean that we would have to copy all installed NuGet extensions which would be a large rework.

Sorry, but we are unlikely to make this change without a fairly strong argu

[2017-11-14 18:23] CharliePoole commented on #311
@rprouse Not only would you have to copy all the extensions, but you would have to either (1) copy them so that their relative path from the original install was unchanged or (2) generate an entirely new `.addins` file, with contents dependent on which extensions are actually installed!

[2017-11-16 22:03] ChrisMaddock opened #312 "CI failure: SocketException"
[code]

On Mac, in the engine tests. Hopefully https://github.com/nunit/nunit-console/issues/266 will help with this - recording the failure more for tracking purposes.

[2017-11-17 03:21] bladeoflight16 commented on #311
If you want an MSBuild task, there's no need to copy the executable to the output directory. You just need an MSBuild file that's referenced from the project.

The file can either contain set a property containing the NUnit console location, or it can contain a task to execute the tests. That isn't difficult, since the executable will always be in the known path of the packages directory. You'll s

[2017-11-18 18:53] rprouse opened #314 "Update NUnit.Extension.VSProjectLoader to 3.7.0"
The project loader has been updated. It should be updated in the nuget package.

[2017-11-18 19:02] ChrisMaddock commented on #314
https://github.com/nunit/nunit-console/pull/313 😄

[2017-11-18 20:15] #314 closed

[2017-11-20 21:54] frankshearar opened #315 "nunit3-console.exe (3.7.0) returns -1 even though tests all succeeded"
The below contains a typical example of the error. ConsoleRunner.INVALID_ARG is returned even though the tests ran (presumably because the arguments are valid!) and all passed..

[jenkins] $ cmd.exe /C " "C:\Program Files (x86)\MSBuild\14.0\Bin\amd64\MSBuild.exe" /nr:false /t:test /p:environment=inmemory,category="(cat == Service or cat == Integration) and cat != Flakey and cat != EndToEnd and cat

[2017-11-20 22:08] CharliePoole commented on #315
Your command-lines contain no test assembly and none is listed under Test Files in your output. Somehow tests appear to run. Can you clarify?

[2017-11-20 22:14] frankshearar commented on #315
I elided sensitive bits out of the logs. Oh dang it, I had put something that GitHub must have interpreted as an HTML tag, and removed. I'll try edit the post.

[2017-11-20 22:18] frankshearar commented on #315
I took a look at ConsoleRunner's source, and this looked like it MIGHT let tests run and still return INVALID_ARGS? https://github.com/nunit/nunit-console/blob/416b54d2a215466a861b3fbea82adeb3c820ec62/src/NUnitConsole/nunit3-console/Program.cs#L116-L124

[2017-11-20 22:25] CharliePoole commented on #315
That does look suspicious.

[2017-11-21 01:04] frankshearar commented on #315
It happens on other --where options, like "cat != External and cat != EndToEnd and cat != Flakey". To be honest, I strongly suspect something Weird happening in the tests, or the test builder, or something like that. We have several different build definitions running where we never see this, and a few that have (recently!) started always dying like this.

[2017-11-21 10:22] jamesaslett1985 opened #316 "Test cases are not running when using --test option"
Hi,

I am using NUnit Console Runner 3.7.0 to execute test cases written in Selenium Webdriver C#. If I only specify the assembly then all of my test cases will execute:

`nunit3-console "D:\Visual Studio Solutions\Selenium WebDriver\MySolution\MyProject\bin\Debug\MyAssembly.dll" `

If I then introduce the _--test_ option in order to only run a specific test...

`nunit3-console --test=MyTestCase "

[2017-11-21 11:38] rodolfo-asantos opened #317 "Order Attribute in --testlist options"
Is it possible to create an execution order only inside the file in the --testlist option? That is without setting the order attribute in the code?

[2017-11-21 17:45] ChrisMaddock commented on #316
You need to be using a fully qualified name for the —test option. Namespace and all, does that help? 😊

[2017-11-21 23:50] CharliePoole commented on #317
No, the `--testlist` option contributes to the filter that is used when running tests and that merely filters the tests. The order in which they are run is non-deterministic in principle, unless the `OrderAttribute` is used.

In fact, there really isn't anything, even at the API level, to allow a client to control the test execution order unless the client simply makes several different test runs.

[2017-11-21 23:50] #317 closed

[2017-11-22 11:56] jamesaslett1985 commented on #316
Thanks Chris. I've tried `--Solution.Namespace.Test` and `--Namespace.Test` to no avail - am I still missing something? :)

[2017-11-22 12:59] rprouse opened #318 "Update NUnit.Extension.TeamCityEventListener to 1.0.3"
The extension has been updated, we should update the NuGet dependency.

[2017-11-22 17:56] frankshearar commented on #315
I can confirm that it's not the --where argument that's causing the issue.

I have an abstract generic class of T, and three [TestFixture] subclasses with different Ts. If I [Ignore] the three TestFixtures, nunit3-console.exe correctly returns 0. If I remove the [Ignore] from even one of the fixtures, it returns -1. I don't yet know exactly why.

[2017-11-22 18:34] #228 closed

[2017-11-23 17:21] ChrisMaddock commented on #316
Try running with —explore, which will list all your tests by name, and then you can work out exactly what the string should be. :-)

[2017-11-24 14:37] CharliePoole commented on #315
Can you provide a minimal example?

[2017-11-29 14:04] edgarssults commented on #290
Did you manage to solve this issue?

We have a similar use case, we have a custom C# application that starts several nunit 3 console runner processes in parallel, each of which executes one unit test (Selenium UI tests). We had issues with Selenium feature context when using nunit 3's parallel execution abilities, which is why we've chosen to run them like this.

And as you describe, sometimes the

[2017-12-02 13:31] ChrisMaddock commented on #259
@linos68 @kdubau @kwojciechowski

Would someone be able to provide a minimal repo which causes the agent to hang? I'm able to reproduce the crash, but the agent is still shutting down cleanly in my repro.

[2017-12-02 17:02] ChrisMaddock commented on #191
Been taking a look at this today. A key thing I don't think we've been aware of so far - results only seem to be lost when using an `.nunit` project file. I imagine that's related to https://github.com/nunit/nunit-console/issues/116

I'll loop round to look at that problem later.

[2017-12-02 17:16] jnm2 commented on #191
@ChrisMaddock wow, #116 is old! I was so unfamiliar with everything back then. Would you like to take it since I have other stuff going on? 😁 😁

[2017-12-02 17:20] ChrisMaddock commented on #191
Please! Was just having more of a dig - I'm not even totally sure they are the same bug right now, I think it may just be that #116 causes a specific case to be exposed which would be a bit more niche otherwise. 😄

[2017-12-02 17:30] ChrisMaddock commented on #191
Ah, it is.

This can be repro'd with:

    nunit3-console "Issue191.dll" "Issue191.dll" --agents=1

#116 is only involved, because that's effectively causing the NUnit Project loader to do the above. Two separate bugs really. 😄

[2017-12-02 17:31] jnm2 commented on #191
#116 is dead last on my NUnit todo list, just so you know. 😁

[2017-12-02 17:34] ChrisMaddock commented on #191
No worries - I'll see how I get on!

#116 I'm less worried about, nobodies really been chasing that one. I wanted to get a fix in for this issue, as it keeps attracting people at the moment. 😄

[2017-12-02 19:19] ChrisMaddock commented on #259
Theory: this issue will only be seen when running multiple assemblies, without parallelisation. That would be either by specifying that setup manually, or running an .nunit project with multiple assemblies, and without overriding any of the defaults.

Agents should always be terminated properly, regardless of AppDomain unload. However, in the above situation, there is an issue where the Agent shut

[2017-12-02 19:44] #316 closed

[2017-12-02 19:47] ChrisMaddock commented on #277
Closing as this needs more information to be able to solve.

Happy to reopen if we can help.

[2017-12-02 19:47] #277 closed

[2017-12-02 20:28] linos68 commented on #259
Hi,

I am no longer involved in the project where these issues occured.

But you can force a «CannotUnloadAppDomainException» if you create a thread in a test which refuses to terminate. To do that you need a thread catching all exceptions and stay in a finally block.

I guess there might exist other reasons for such an exception. But with this procedure you’re able to reproduce at least one case.

[2017-12-02 21:28] ChrisMaddock commented on #259
Thanks @linos68. I can repro the exception fine, and the crash, but I haven't been able to repro the agent hanging. In all my attempts, the nunit-agent program shuts down itself.

Here's my repro class.
[code]
This triggers the exception. If you put this assembly inside a `.nunit` project with >1 other project, then you get the crash.

But I can't make the nunit-agent.exe hang - it always exits wh

[2017-12-02 22:06] linos68 commented on #259
Try this:

        [TestMethod]
        public void Test()
        {
            Thread thread = new Thread(ThreadMain);
            thread.Start();
        }

        private void ThreadMain()
        {
            try
            {
                while (true)
                {
                    Thread.Sleep(1000);
                }
            }
            catch (ThreadAbortException e)  //

[2017-12-03 20:28] ChrisMaddock commented on #259
That did it - thanks. Can confirm this case isn't fixed by #321 - will have a dig.

[2017-12-04 00:09] #259 closed

[2017-12-04 13:36] jakubmichalec commented on #290
@edgarssults nope, I put it on hold atm. I think I need to totaly change our approach, move from 'for' execution to sequence (split tests to smaller groups and than run groups seq in parallel)

[2017-12-04 15:04] EllaVader opened #324 "Handling carriage return and line feeds in test description for tests results xml output file"
I"m using the Description property on the Test attribute.  Is there a way to format a long description to have new lines in them?  When I try to add them via "\n"  or "\r" the results in the TestResults.xml file have them look like this `"&#xD; ` and  `&#xA;`  Is there a way to actually have line brakes in the description?

Here is an example of what I"m talking about:
This:
`[Test, Description("N

[2017-12-04 15:24] ChrisMaddock commented on #324
Where did you want to see these line breaks in the description? 🙂 I believe this is the correct way to encode linebreaks in xml - in the same way as your `history > data` is encoded as `history &gt; data`.

[2017-12-04 15:31] CharliePoole commented on #324
I agree with @ChrisMaddock. The XML for the description contains the line break properly encoded. It's up to the program that displays the description to decode that and display it correctly. If you are simply looking at the XML itself, then you see the encoded version.

[2017-12-04 15:56] CharliePoole commented on #290
@jakubmichalec and @edgarssults ...

As I understand it, you want to run various tests defined in the same assembly in parallel groups. I'm not clear if your goal is to run them in separate processes or if you have merely taken that approach because of limitations in NUnit's ability to run them on separate threads in the same process.

Aside from the immediate need you have of making your tests wo

[2017-12-05 03:40] yaakov-h opened #325 "RemotingException when performing multiple runs in a single process"
I've come across a strange edge case with the NUnit engine.

As background info - I'm using the NUnit Engine APIs directly in order to integrate it into an in-house distributed CI system.

I have a particular assembly which uses `TestContext.Current.TestDirectory` inside a `TestCaseSource` - this was previously discussed at https://github.com/nunit/nunit/issues/2036

When calling `ITestRunner.RunT

[2017-12-11 17:48] ChrisMaddock commented on #325
Thanks for the repro @yaakov-h.

I can reproduce this. Cutting out the custom runner functionality, an exception can also be seen with the following command line in the nunit-console:

[code]

In this case, "NUnitGuineaPig.dll just contained a single class which was:

[code]

Running --inprocess instead gives the below exception - I imagine it's likely the two are related however:

[code]

[2017-12-11 17:59] ChrisMaddock commented on #324
Closing this, as there's not enough information to understand/reproduce the problem.

Happy to reopen if anyone has more to add. 🙂

[2017-12-11 17:59] #324 closed

[2017-12-11 19:33] ChrisMaddock commented on #325
@yaakov-h I believe this is the issue, however, I'm not sure what the solution should be!

https://github.com/nunit/nunit/issues/2614

[2017-12-11 21:45] ChrisMaddock commented on #325
I'm closing this in favour of https://github.com/nunit/nunit/issues/2614 - now @CharliePoole's confirmed my suspicions. @yaakov-h - please feel free to follow the new issue, and if it doesn't fix your problem once it's in, we can revisit this issue.

[2017-12-11 21:45] #325 closed

[2017-12-12 00:09] lasthero commented on #309
Hi:

I am a first-timer here and I'd like to contribute to this project. This looks like a quick 1 line of code change (as already pointed out by @jnm2 ). Can I work on this one? Thanks.

Chih-Ho

[2017-12-12 00:22] jnm2 commented on #309
@lasthero For sure! I read back over what Charlie said and had a quick look. These lines should have the exact same fix:

https://github.com/nunit/nunit-console/blob/416b54d2a215466a861b3fbea82adeb3c820ec62/src/NUnitEngine/nunit.engine/Drivers/NUnit2DriverFactory.cs#L53-L57

https://github.com/nunit/nunit-console/blob/416b54d2a215466a861b3fbea82adeb3c820ec62/src/NUnitEngine/nunit.engine.netstandar

[2017-12-12 01:58] lasthero commented on #309
@jnm2:
I can give them a shot 😄

[2017-12-12 02:10] jnm2 commented on #309
Alright, it's yours! I'm assigning the issue to myself to keep track of it. Let us know if you need any help!

[2017-12-12 12:55] ChrisMaddock commented on #285
@rprouse - did you make a start on this in the end? I'd like to get it in for the next console release - I can take it if you prefer? 🙂

[2017-12-12 13:33] rprouse commented on #285
Go ahead and take it.

On Dec 12, 2017 7:55 AM, "Chris Maddock" <notifications@github.com> wrote:

[2017-12-12 19:20] #191 closed

[2017-12-13 19:54] lasthero commented on #309
@jnm2 - just created a pull request for this issue. Please let me know with any comments. Thanks!

Chih-Ho

[2017-12-13 22:18] #309 closed

[2017-12-14 01:54] phillipsj commented on #318
I would like to take this issue.

[2017-12-14 02:06] phillipsj commented on #318
I am not seeing where I need to start.  A little direction would be great.  Thanks

[2017-12-14 09:36] edgarssults commented on #290
This also looks related to https://github.com/nunit/nunit/issues/2474

I'll try to describe why I'm running each of the tests in a separate process. Not sure whether it should be a feature in NUnit or it's just a problem with another framework that's involved.

We have Selenium tests that are written with the help of Specflow, which generates NUnit unit tests, which then get compiled and executed.

[2017-12-14 17:39] jocasofer opened #331 "Char '&' not supported in test parameters in Nunit 3.7.0"
Hi,

If I run a test with this commandline, all parameters after '&' are disregarded:
`nunit3-console test.dll --params=Parameter1Name=Paramet&er1Value;Parameter2Name=Parameter2Value`

In TestResult.xml, they show up like this:
[code]

I also tried to escape the '&' but with no luck.
Is there any other way to use parameters with '&'?

Just another thought, why not use the runsettings file to pass

[2017-12-14 18:56] ChrisMaddock commented on #331
This is a command line problem, rather than Nunit I’d guess. Have you tried escaping the ampersand, as below?

https://stackoverflow.com/a/1327476

[2017-12-15 14:57] jocasofer commented on #331
Thanks Chris, that worked great!

I still need to remove the `^` from the parameter, but it's just a minor inconvenience and can be done easily when parsing the parameters.

Regarding .runsettings (or .testsettings,....), is there any reason for not being supported by nunit-console?

Thanks for your help!

[2017-12-15 14:57] #331 closed

[2017-12-15 15:16] CharliePoole commented on #331
@jocasofer NUnit-console came first, of course, and as a command-line program relied on arguments to specify parameters and options. The VS adapter didn't have any way to enter arguments but Microsoft provided the option of a `.runsettings` file, which we adopted.

There's no technical reason that file couldn't be supported by the console with a command-line option that pointed to the file. Howeve

[2017-12-16 15:50] #111 closed

[2017-12-18 13:00] #289 closed

[2017-12-18 16:39] jocasofer commented on #331
@ChrisMaddock You're right! I had some quote characters in the parameters that shouldn't be there. I removed them and it's working perfectly.
Thank you for your support!

@CharliePoole I understand your point of view. But my question originated from my need of having 2 parameters files. A XML runsettings file for VS and a batch with `--params` for NUnit-console. This can potentially lead to runnin

[2017-12-18 19:19] CharliePoole commented on #331
@jocasofer I see your point, particularly for users (unlike me 😄 ) who consider VS as their primary environment for running tests. There would be some details to work out about how to represent settings that are available by design in the console but not in the adapter. Conversely, if such settings were placed in the `.runsettings` file, the adapter would need to ignore them. That's not hard to do

[2017-12-18 20:05] mikkelbu commented on #178
@CharliePoole Should we mark this issue with "Help Wanted" + "Good first issue" labels? I guess that the change to solve this issue is quite small.

[2017-12-18 20:11] CharliePoole commented on #178
@mikkelbu I agree, it should be quite easy.

[2017-12-18 21:09] #300 closed

[2017-12-20 14:35] thegrima commented on #255
We had a lot of theses random -100 errors with our CI using nunit-console 3.7 (2/3 times a day).

After a week of using the patch provided by @jnm2 with the two arguments (--remoting-wait-after-stop --remoting-shutdown-delay=5000), I can confirm the mitigation seems to work for us. We never encountered a -100 socket close exception since.

[2017-12-20 18:28] jmatthews79 opened #333 "Cant filter on custom attributes via command line where clause"
I have a custom attribute I am using on my nunit tests:

   ` [Impact(Impact.High)]`

The attribute is an enum, here the class that defines that attribute:

[code]

When I try to call this from the command line using the nunit-console runner it is never picked up. I think it is maybe because it is an enum not a string. The documentation says to call a custom property like:

 `   nunit3-console myt

[2017-12-20 18:30] jnm2 commented on #255
Interesting! Thanks for the data. Perhaps we should consider moving some of that functionality into master with defaults. (@nunit/engine-team?)

[2017-12-20 18:52] sethflowers commented on #225
Thanks @kdubau. I finally decided to just try adding `--trace=Debug` as a parameter, and I was able to run the tests 10 times in a row without fail.

Prior to this, our runs fail roughly half the time. This has been our teams sad state of affairs for months now. We've gotten to the point of often just disabling unit tests to get a QA build out, having to run the tests locally. We are on 3.7.0, so

[2017-12-20 19:00] CharliePoole commented on #333
Since you don't call any base constructor, you are not actually creating a property. Once you create it, Impact==High should work.

[2017-12-20 19:01] ChrisMaddock commented on #255
I haven't looked at the patch yet. Can the delay only be applied when needed, i.e. not to every test run? Regardless, it sounds promising!

There's a lot of different stack traces in this issue - some which will have been taken care of by #321. (@marceloatg @Eric-Pang - I believe yours fall into this category.)

I think it could be good to a) get the fix for that known problem in @jnm2 and then b)

[2017-12-20 19:02] mikkelbu commented on #333
AFAICT from [the documentation](https://github.com/nunit/docs/wiki/Property-Attribute) you should either call the base class or set the property dictionary directly via `Properties`

[2017-12-20 19:12] jmatthews79 commented on #333
@CharliePoole here is my updated code:

[code]

I get this from the runner:

[code]

[2017-12-20 19:56] jmatthews79 commented on #333
@CharliePoole and @mikkelbu I also tried:
[code]
and decorated my test fixture like:

`[RiskPriority("4")]`

and tried to call like:

` --where "RiskPriority==4"`

I can use the --params options and other options with no problems. Like I said I am new to programming so I a probably just messing up the code somewhere,

also tried:
[code]

[2017-12-20 20:17] jnm2 commented on #255
@ChrisMaddock The delay only happens if you specify `--remoting-wait-after-stop` and then it waits for the number of milliseconds specified by `--remoting-shutdown-delay=`. We could unify the two parameters and add it as a workaround, maybe.

[2017-12-20 20:36] ChrisMaddock commented on #255
I'm not totally keen on this being an option flag - I'd rather have it in the build, or not. The flag feels a bit like a `--dont-be-broken` option. 😄

My preferences:
1. Fix the timing issue with no additional delay. (Sounds like you've exhausted that path, Joseph - although I wonder if a new communication architecture would tick this box. That's a much bigger job.)
2. Have the delay for everyone.

[2017-12-20 20:38] jnm2 commented on #255
@ChrisMaddock I have the same preferences, though I'm no longer convinced that the new architecture will have the bugfixing ROI that I first hoped.

[2017-12-20 20:41] ChrisMaddock commented on #255
I'm hopeful it will fix the race condition shutdown issue that you diagnosed and we know exists - and we can then handle other bug reports separately. 😄

[2017-12-20 21:58] mikkelbu commented on #333
@jmatthews79 I did some more digging (I've never used PropertyAttributes), and if I had
[code]
and some tests decorated with `ImpactAttribute` then I also got an exception with the same stacktrace when trying to filter for a particular value. The exception message was "System.InvalidCastException : Unable to cast object of type 'TestPropertyAttribute.ImpactEnum' to type 'System.String'" and some d

[2017-12-20 22:07] jmatthews79 commented on #333
@mikkelbu thanks for the response. That did the trick you rock!

[2017-12-20 22:07] #333 closed

[2017-12-20 23:26] mikkelbu commented on #333
@jmatthews79 You are most welcome. Ps. I've also made a slight improvement to the documentation 😄 .

[2017-12-21 00:19] CharliePoole commented on #333
Yeah... It's really not possible for a filter to have anything but strings. Everything we filter on is also a string with the possible exception of properties. Since you could be using the property for some other purpose, we allow other values, but for selection, as currently defined, only strings will do.

[2017-12-21 08:26] thegrima commented on #255
@ChrisMaddock : Sure. We're using our TeamCity server with 2 build agent to build a complete VS solution. Solution have multiple test assemblies. .nunit file is generated by TeamCity.

Don't known if it's relevant, but it happen very often that our build system is building the same solution in parallel using the two agents (in different directory of course).

Typical command line in logs is
[10:41

[2017-12-21 09:58] ChrisMaddock commented on #255
Likely very relevant information, thanks. 😄

Could you try something out for us? This is a bit of a stab in the dark, but I'm intrigued to find out.

Could you try adding the `--process=Multiple` flag? There's currently a bug with .nunit files that forces each assembly to run in sequence (https://github.com/nunit/nunit-console/issues/116). Default behaviour _should_ be that the assemblies run in p

[2017-12-21 10:15] ChrisMaddock commented on #255
(This would need to be *without* @jnm2's `--remoting` options - which we know fix the problem by adding in additional delay. 🙂)

[2017-12-21 10:21] ChrisMaddock commented on #255
I suggest this, as, am I understanding correctly, you currently only see this problem on TeamCity? When running via an `.nunit` file?

Of course, there's many other ways your TC machine could be different - but it seems to be a common thread.

[2017-12-21 11:30] thegrima commented on #255
Yes, the problems only occurs in TC. We never encountered it when running all the tests from VS.

I could try your suggestion, but since this is our production release environment, i will not be able to do so before the first week of January. I'll post results when available.

[2017-12-21 11:30] asendimitrov commented on #225
Hey, our team also sees the same when using NUnit Console 3.7.0 on TeamCity. We've added `--trace=Debug` as per the above recommendations which has resulted in a drop of the exception appearing. However, it still happens every now and then, so adding the above parameter _does not_ fully fix this issue.

[2017-12-21 11:56] CharliePoole commented on #225
The trace may slow things down enough to reduce the problem incidence, but it's real purpose is to collect information. Have you examined the trace from a failing incident?

[2017-12-21 12:06] ChrisMaddock commented on #255
No problem. 👍

Another option for diagnosis - you could retrieve the `.nunit` file from TeamCity, and try running the same command line locally. That would help to work out if it's a problem specific to the machine TC is running on, or the `.nunit` file set-up that TC is using.

[2017-12-21 12:07] herebebeasties commented on #255
We see this from non-.nunit invocations on other CI systems (Bamboo). We're on Windows.

[2017-12-21 12:07] mihailik commented on #225
We're seeing intermittent failures like that fairly often in our CI builds, creating distracting volatility and reducing trust in our (quite sizeable) test suite.

Is there any extra checks/protection/heartbeats/dumps agent process can do to ensure if it ever crashes abruptly the amount of diagnostic is relevant to hint at the cause of failure?

Can agent listen to unhandled exception event and ca

[2017-12-21 12:13] ChrisMaddock commented on #255
@herebebeasties - same questions as above! 😄

[2017-12-21 12:41] asendimitrov commented on #225
Hi @CharliePoole, thanks for your quick response.

Looking at the internal trace log, the exception in there is what was already posted above in this comment thread:

`12:30:12.705 Error [ 1] ProcessRunner: Failed to run remote tests An existing connection was forcibly closed by the remote host
12:30:12.709 Info  [ 1] ProcessRunner: tests.csproj
12:30:14.714 Warning [ 1] ProcessRunner: Failed to u

[2017-12-21 13:34] CharliePoole commented on #225
That's the trace for the console runner and engine. It has the info that the agent failed, which we already knew. You should have two other trace files, one for the agent and one for the framework. We want to figure out __why__ the agent exited and I'm hoping one of those will tell us.

[2017-12-21 22:55] herebebeasties commented on #255
Single assembly, no VS solution, no NUnit, no TeamCity, but concurrent builds/runs under Bamboo.
I'll find you a stack trace tomorrow.

[2017-12-27 08:02] dimm23 opened #334 "fileOpen dialog loose focus on opening"
In selenium test running by nunit3-console.exe i'm opening fileOpen dialog for uploading file, but when fileOpen dialog is opened it loose focus and test cant enter file path.
This is an example:

Driver.FindElement(By.XPath("//div[@class='fileuploader-input']")).Click(); // it open fileOpen dialog
SendKeys.SendWait(product.photo_url);
SendKeys.SendWait(@"{ENTER}");

(From Visual Studio it works c

[2017-12-29 18:08] jnm2 commented on #334
I wonder what is making the difference? `[Apartment(ApartmentState.STA)]`?

[2018-01-02 09:40] asendimitrov commented on #225
Apologies for the misunderstanding. I'm posting the data from all the log files that exist after a failed run (one of these is again the console runner and engine trace but that's just so you can compare the times).

[code]

[2018-01-02 20:31] CharliePoole commented on #225
That points out a small bug in ProcessRunner. It gets an error because the connection was forcibly closed by the remote runner, that is, the agent has terminated. But it still tries to unload the remote runner and (naturally) gets another error. We should flag the runner as terminated and not try to unload it.

That wouldn't help you, of course. We still need to get more info about what caused the

[2018-01-03 07:46] asendimitrov commented on #225
Yeah, unfortunately in my case the other trace files don't have any information on what has happened. The logging seems to just stop right before the socket exception occurs in the console trace. I'll keep watching this closely and if by any chance something additional pops up I'll let you guys know. In the meantime I really hope that something useful appears on someone else's screen as this reall

[2018-01-03 12:54] ChrisMaddock commented on #93
Done in https://github.com/nunit/nunit-console/pull/327

[2018-01-03 12:54] #93 closed

[2018-01-03 12:59] ChrisMaddock opened #335 "Log agent crashes to file and retrieve from console"
Agent crashes are often hard to debug - as the exception information is lost on the crashed process. If the console could display the exception stack trace, as it would if the tests were run in process, then that would help debugging - especially of flakey cases where the crash isn't readily reproducible.

How about we add use a temporary log file? The engine could pass the path the the agent on c

[2018-01-03 13:04] CharliePoole commented on #335
Why not use the existing agent log file?

[2018-01-03 13:10] ChrisMaddock commented on #335
Because that only (currently) exists under the `--trace=xxx` option. It would also require an amount of additional processing, to work out which part of the log to present to the user, and whether to then clean up the log or not, based on whether the user has manually asked for it or not. And then there's the case of refactoring our logging code to create a just-in-time file. (Something which I'd

[2018-01-03 13:20] rprouse commented on #335
It is an interesting idea. It wouldn't work when/if we ever get agents running on additional machines, but we haven't made much progress in that direction and it might help with some immediate issues. What are you thinking of logging? Just the crashing exception and stack trace? Is the idea that it will be another mechanism to pass crash information back to the console runner when the remoting cha

[2018-01-03 13:36] ChrisMaddock commented on #335
Fair. I imagine multiple agents on a single machine will remain the main usage however, which would make this worthwhile in my eyes. 🙂

Yes to everything.

My thinking was, if we can definitely get everything we _can_ catch - then we can say with more confidence that an 'unrecorded' crash is likely e.g. a StackOverflowException. (For my benefit - what other kinds can't we catch?) And we can then s

[2018-01-03 13:40] CharliePoole commented on #335
I see. That makes sense.

However, in addition, I think you just pointed out a weakness in our existing trace logging. We should obviously be capturing unhandled exceptions and logging them as errors in every agent process we create. Not sure if we need a separate issue for that, however, since it would all be implemented in one handler.

Let's stick with the convention of using the process id in

[2018-01-04 03:43] WindingWinter opened #336 "Should legacyCorruptedStateExceptionsPolicy enabled=true in nunit3-console.exe.config?"
I would argue that in the nunit3-console.exe.config,  the  legacyCorruptedStateExceptionsPolicy should be enabled by default.

The reason is that nunit console must cater to the widest range of audience possible, and it shouldn't present any surprises to them, or make their debugging lives difficult in the case of any scenario. In my case, a faulty third party native component throws an non-determ

[2018-01-04 03:50] CharliePoole commented on #336
I'm not taking this issue on, but I wanted to point out that it's insufficient to set policy for the console runner, since that would only apply in the case where tests are run in process, which is not the default and AFAIK not done very often.

For widest application, any changes will need to be applied to the nunit-agent configs as well.

The situation was similar in NUnit V2 but in that case te

[2018-01-04 03:52] nsoonhui commented on #336
Hi @CharliePoole , any reason why you don't want to set the policy on console runner ( or nunit-agent)?

[2018-01-04 04:10] CharliePoole commented on #336
I haven't researched that policy setting in detail, so I neither want nor don't want to set it! I've heard it said that "Everyone has a right to an opinion" but I never believed that. 😉

Closed the issue in error... so reopening... (that happens a lot - GitHub needs some UX folks!)

[2018-01-04 17:41] rprouse commented on #336
I am not against enabling this, but would prefer to research any possible consequences before deciding. As @CharliePoole stated, it will need to be applied to the agents too.

[2018-01-04 19:46] Heteroculturalism opened #337 "Exception thrown when new .csproj file format is used"
When I run nunit3-console.exe (version 3.7.0) against my solution which contains a .NET Standard 2.0 project, I get an error saying that the .NET Standard 2.0 project has an invalid project file format.  Please advise.  Thanks.

[2018-01-04 21:36] ChrisMaddock commented on #337
Your passing the sln file itself on the command line, right?

First try updating your vs-project-loader extension. There's been a new release since the last console release - that will hopefully understand the project format.

You'll then likely get an error that the .NET Standard tests aren't currently supported by the nunit-console. You should use `dotnet test` to run those instead.

Let us know

[2018-01-05 01:57] rprouse commented on #337
Your tests must target an actual framework like .NET Core, they cannot be .NET Standard. Visual Studio and VSTest require that the tests target a specific platform. .NET Standard is like a Portable library in that it does not target any specific platform, but can run on any supported platform. Microsoft decided that your tests should be compiled to target a platform so they know which platform to

[2018-01-05 19:06] kaylanimis opened #338 "Tests with ExpectedResult = x failing on TeamCity"
Hello,

I'm running nunit 3.9.0 and the console 3.7.0 on a teamcity build server v. 2017.1.5. For test cases that use the ExpectedResult attribute, we're seeing test breaks when run on the build server, but not when run in Visual Studio.

Example:
`[TestCase(Int32.MinValue + 101, Int32.MinValue + 100, ExpectedResult = 1)]
        public int RoundUpDivision(int dividend, int divisor)
        {

[2018-01-05 19:58] blachniet opened #339 "What's the target release date for 3.8?"
What's the target release date for 3.8?

I originally asked this question in the Gitter chat room: https://gitter.im/nunit/nunit?at=5a4fd1926117191e612dbed6.

[2018-01-05 20:31] kaylanimis commented on #338
This was user error when setting up the team city build, apologies for the confusion.

[2018-01-05 20:38] #338 closed

[2018-01-05 20:57] rprouse commented on #339
I hope to get the release out later this month. I am currently targeting the 26th, but may move it up if there are no high priority issues we want to get in. @nunit/framework-and-engine-team can you flag issues that we should be watching for the release?

[2018-01-05 21:02] blachniet commented on #339
Thank you!

[2018-01-05 21:02] #339 closed

[2018-01-05 23:27] ChrisMaddock commented on #339
There are two remaining on my radar. The first is the open PR to finish off the app domain unload changes, the second is the settings dict issue. Im happy for anyone else to take over the second if they have time - hoping to get both tied up in the next couple of weeks.

Ideally I’d like to also get in improved error handling for socket exceptions, and a fix for the nunit/sln process model, as I’m

[2018-01-09 22:57] WayneHiller opened #340 "Remoting Exception (3.7.0)"
I am running tests from a single test assembly locally. Windows 2012 x64. Some of the tests will run and then I randomly get this error. The error does not always occur on the same tests. I had this all running fine before on this same machine. Something changed somewhere. Any ideas as to where to start looking?

1) Error :
An existing connection was forcibly closed by the remote host

Server stac

[2018-01-10 00:01] CharliePoole commented on #340
NUnit console is reporting the only error it knows about: that the agent process crashed. At the end of the log, it tries to tell the agent to stop, which is a bit silly since it already crashed.

The agent leaves behind no info about why it crashed by default.

IF it's possible to run your tests in the same process as the console runner, use the `--inprocess` in hopes that you'll see the actual e

[2018-01-10 00:06] WayneHiller commented on #340
Ok thanks I will try those switches. The crash only happens on my testing machine. I am running the same tests on my dev machine now and everything is fine. I am use cake.net to automate the test running and I think it will let me pass command line switches through.

[2018-01-10 12:03] ChrisMaddock opened #341 "NUnit.Engine.Runners.ProcessRunner.Dispose"
@didiermauricio commented on [Tue Jan 09 2018](https://github.com/nunit/nunit/issues/2651)

Hi all, i have this error executing a test suite in ubuntu with mono (5.4.1.6) and Nunit console runner 3.7.0:

[code]

Thanks in advance

---

@CharliePoole commented on [Tue Jan 09 2018](https://github.com/nunit/nunit/issues/2651#issuecomment-356342084)

The error means that the agent process crashed and

[2018-01-10 12:05] ChrisMaddock opened #342 "test-run xml counts incorrect in certain test failure situations"
@Majorie1234 commented on [Wed Jan 10 2018](https://github.com/nunit/nunit/issues/2653)

<img width="479" alt="capture" src="https://user-images.githubusercontent.com/35286915/34769993-8f93a8c0-f625-11e7-9206-0cd42a5e0118.PNG">
<img width="872" alt="capture" src="https://user-images.githubusercontent.com/35286915/34770034-b58e6ff6-f625-11e7-8008-13b9fbc4d049.PNG">

  The test run attributes like n

[2018-01-10 12:07] ChrisMaddock commented on #342
Interesting! I don't see this problem in the general case - I imagine it might be something to do with where your failure takes place.

Where does the failure shown on the console occur - is it in a TestCaseSource or something? Can you share the full results xml please?

[2018-01-10 14:57] CharliePoole commented on #342
The summary report is generated by the console runner based on details of the test case results. The summary counts in the test-suite elements of the XML are generated by the framework. The summary in the test-run element is generated by the engine based in the individual assembly test-suite elements, and it is most likely not the problem.

The framework-generated summaries just add up the contain

[2018-01-10 16:56] CharliePoole opened #343 "Superfluous unload error shown in console"
We are repeatedly seeing stack traces that show two things:

1. The agent crashes in process runner.
2. We subsequently get an error when trying to unload the crashed runner.

This is confusing to users. We should not be trying to unload a runner that we already know has crashed. Fixing this to eliminate the second error will help people to focus on finding the real problem and will also allow us

[2018-01-11 04:16] Majorie1234 commented on #342
[testresult.zip](https://github.com/nunit/nunit-console/files/1621225/testresult.zip)

[2018-01-11 04:22] Majorie1234 commented on #342
Even the passed test count is incorrect.
The same report generated using nunit 2 format gives the correct count though.
[testresultnunit2.zip](https://github.com/nunit/nunit-console/files/1621238/testresultnunit2.zip)

[2018-01-11 08:36] marshall777 opened #344 "NUnit-Console : providing a file containing space in parameters value does not work"
Hello,

I am trying to run nunit-console.exe using a file containing test parameters.
Some parameters value contains spaces and it seems like it does not work.

To do so, I run nunit-console with :
[code]

And myfile contains :
[code]

When I run this, it seems like NUnit takes "Name" as the parameter value and considers what comes after each space as another assembly file to test :
[code]

I trie

[2018-01-11 16:58] CharliePoole commented on #342
Reviewing the attached nunit3 zip, here's what I see.

Assembly 1: total="2" passed="0" failed="0" inconclusive="0" skipped="0"
Assembly 2: total="4" passed="0" failed="0" inconclusive="0" skipped="0"
    Test Run: total="6" passed="0" failed="0" inconclusive="0" skipped="0"

That adds up, so the engine is doing it's job properly. The error is in the info further down in the file, which is created

[2018-01-11 16:59] #342 closed

[2018-01-11 17:07] CharliePoole commented on #342
Following up on the comment about the XML output for nunit v2 tests... The tests are run using entirely different code and the summary XML is created using different code that is based on compatibility with the old NUnit V2 output. Naturally, the results are not necessarily going to be the same.

[2018-01-11 17:11] CharliePoole commented on #116
@jnm2 Are you actually still working on this?

[2018-01-11 20:26] espenekvang opened #345 "NUnit console fails when tests utilize reflection"
We have an issue where NUnit tests run green in Visual Studio 2017, but when running them through nunit-console they fail, reason for failing varies. We have created an example here to illustrate the behaviour:  https://github.com/espenekvang/nunit-failing/

It seems to be related to the fact that we are using reflection in the test, but we are not sure about this.

[2018-01-11 22:48] CharliePoole commented on #345
The example is great once somebody is working on the issue, but to evaluate the issue and decide who will work on it, it will help us to have some info first...
 * Version of the nunit framework you are using
 * The platform you are targeting
 * Version of the console runner you are using
 * The command-line you use to run the tests
 * Which tests fail unexpectedly and what messages you see

[2018-01-11 22:54] CharliePoole commented on #116
According to a separate report, the same thing happens with multiple .csproj files specified on the command-line rather than assemblies.

[2018-01-12 00:13] debasisj commented on #246
it would be great if nunit can include app.config in the command

[2018-01-12 04:30] espenekvang commented on #345
- NUnit package version 3.9.0
- target framework: .NET Framework 4.6.2
- NUnit Console Runner version 3.7.0
- the tests are automatically run in the example when running `build.cmd`. Inside this script you will see that the command line used for nunit-runner is: `./tools/Nunit.ConsoleRunner/tools/nunit3-console.exe "--noheader" "--result=C:\dev\nunit-failing\testresults\UnitTestResults.xml" "--par

[2018-01-12 16:25] Heteroculturalism commented on #337
The code under test is .NET Standard 2.0 and it's THIS project that produces the error.  The unit test project that tests the .NET Standard project targets the .NET Framework.  This is why I think this is a bug.

[2018-01-12 17:51] CharliePoole commented on #337
@rprouse I think he's right and this should really work. It can't because of the architectural decision to make .NET Core and .NET Framework engines entirely separate. Unfortunately, I don't see an easy way out of it using that approach. As we once discussed, I think we need a special driver for the .NET Standard 2.0 framework build.

[2018-01-12 18:23] alski opened #347 "TestEngine: 34 failed tests in NUnitAdapter - none via build"
![image](https://user-images.githubusercontent.com/991624/34889122-cecc765c-f7c4-11e7-8a15-13cdc47def5d.png)

When I run the tests via NUnitAdapter (v3) I get 34 failures, but when running via build all pass. It appears to be due to tests being unable to find the mock assemblies that the tests expect to run against, possibly due to the incorrect working directory. Still checking, just wanted to ra

[2018-01-12 18:39] alski commented on #347
Ok, looks like this has been remedied in #if NETCOREAPP1_1 so just needs to cover these cases too. Pull Request coming shortly.

[2018-01-12 19:04] alski commented on #347
Hmmm.. Some of the failures are because MockAssembly.dll is being loaded in and run.
I know I'm due an opticians appointment, but I couldn't see a way to exclude via .RunSettings

https://github.com/nunit/nunit3-vs-adapter/blob/master/src/NUnitTestAdapter/NUnitTestAdapter.cs#L147

[2018-01-12 19:18] ChrisMaddock commented on #347
My understanding is that we've never formally supported running the NUnit tests themselves in the adapter. My opinion would be that if there's no good reason for that, then a PR to improve it would be welcome - although other team members may disagree!

--------

I know I'm due an opticians appointment, but I couldn't see a way to exclude via .RunSettings

You're correct - there currently is no me

[2018-01-12 20:04] CharliePoole commented on #347
Anyone creating an application may choose to require their tests to be run in a particular way. The NUnit tests are designed to run under the console runner. There are limitations in the VS environment that would normally prevent some tests from running unless the tests themselves were runner-aware. I've never been in favor of that sort of thing - it's analogous to what the VW engineers did in ord

[2018-01-12 20:18] alski commented on #347
#349 Fix the tests, but Mock assembly still called.

[2018-01-12 20:33] mikkelbu commented on #345
Disclaimer: I know next to nothing about ASP.Net (I've not installed this in VS, so I've not examined how the behaviour is in VS).

I don't think that this is a problem with NUnit. If I make the test code output which assemblies it tries to load, then I see that it successfully loads all *.dlls in the `build` folder. Then it recurs to the subfolders where it fails in `build\_PublishedWebsites\NUni

[2018-01-12 20:36] CharliePoole commented on #344
Try this

[code]

[2018-01-12 20:50] CharliePoole commented on #345
This is probably not relevant to this issue, but I notice you set the run parameter "exclude" to two different values in your command line. There is no particular support for that and you will end up getting an exception thrown if you are using a recent version of the framework that tries to build a dictionary out of the values you pass. Frankly, I never thought of checking for this error when I a

[2018-01-12 20:53] alski commented on #347
@CharliePoole Good call.

Interestingly I thought I would test this out and was surprised to see that

C:\Dev\nunit-console\bin\ **Debug**>nunit3-console.exe nunit.engine.tests.dll
  Test Count: 516, Passed: 510, Failed: 0, Warnings: 0, Inconclusive: 5, Skipped: 1

and
C:\Dev\nunit-console\bin>**Debug**\nunit3-console.exe **Debug**\nunit.engine.tests.dll
  Test Count: 516, Passed: 510, Failed: 0,

[2018-01-12 20:56] rprouse commented on #347
We got the tests running in the adapter in the main NUnit solution and ignored the mock assembly and the testdata assembly. @jnm2 I forget what you did to get those projects ignored for testing. Do you remember?

We did design the tests to run under the console and that is what we use to verify our tests, but I have found including the adapter in the NUnit project to be useful. It allows us to dog

[2018-01-12 20:56] CharliePoole commented on #345
Your error message lists a specific assembly, `System.IO.Compression`, which cannot be found when running under the console runner. What are you doing to ensure it's available?

[2018-01-12 21:50] CharliePoole commented on #347
I'm big in favor of dog-fooding! However, I'll respectfully point out that if you are working on the framework team, running under the adapter is precisely the __opposite__ of dogfooding. In fact, so is running your tests under the console, since that's a separate product.

Of course, our disagreement on this is long-standing and I'm not expecting a change but I couldn't resist commenting once you

[2018-01-12 21:53] CharliePoole commented on #347
@alski It passes in both cases because of how NUnit automatically sets up the application base.

[2018-01-12 21:55] ChrisMaddock commented on #347
Just to transfer my comment from the PR - I believe the adapter is a red herring in this situation, and the test failures @alski is seeing are actually down to the work**ing** directory. I can see the same failures from running the tests in the nunit-console, but launching the process from a different directory to the `TestDirectory`. That makes me think we should definitely get this fixed.

I did

[2018-01-12 23:36] #343 closed

[2018-01-13 01:03] #246 closed

[2018-01-13 01:56] jnm2 commented on #347
Dogfooding means precisely 'using your own product.' I'm working on the framework team and dogfooding NUnit.Console and ApiContractGenerator while doing so, since I work on both of those also.

@rprouse

Sorry to disappoint, but the framework is still only doing NUnitLite and self-executing tests. I hit a wall because I couldn't get the VSTest adapter to respect ExcludeAttribute within nunit.frame

[2018-01-13 01:59] jnm2 commented on #116
@CharliePoole This is dead last on my list of tracked issues. Back when I was working on it, I was much lower on the learning curve. Would you be interested in taking over?

[2018-01-13 04:42] CharliePoole commented on #347
@jnm2 `<snark>`I'm sure glad you explained that.`</snark>`

The reference was probably too obscure for this forum, since it refers to private conversations Rob and I have had. Sorry 'bout that. My point is that the original goal was to make framework console and adapter separate - a goal that I feel I failed at.

[2018-01-13 05:15] CharliePoole commented on #116
I thought about doing it but my question was intended more as a reminder that __nobody__ is working on it if you aren't, because your name is there. In the past, I've done the same myself when I thought I was probably the only one to work on a particular issue, so if that's the case it's OK to keep it.

Otherwise, remember that nobody will work on a job that has your name on it, except in certain

[2018-01-13 19:16] jnm2 commented on #116
Okay. Since a fresh start will be needed no matter who picks it up, I'll stop tracking it as mine.

[2018-01-13 19:26] jnm2 commented on #347
@CharliePoole When awkward conversations are made public, I'm likely to stick up for the guy that _appears_ to be unfairly treated, purely at face value since I have zero information about the private context. I might also take the smarter policy for my own sake and pretend it wasn't happening. I never know which is better.

[2018-01-13 20:33] mikkelbu commented on #339
@ChrisMaddock I can probably take over the second one, but I'm a bit unsure what the problem is. But I will write my question in #285.

[2018-01-13 20:43] mikkelbu commented on #285
As stated in #339 I can also take a look at this, but actually I'm unsure what this issue is about 😄 .

From https://github.com/nunit/nunit-console/issues/285#issuecomment-325472312 I have _"We should also address this in the next release of the framework to display the child elements if available, so I will leave this open in this repo."_.
Is the task to use the individual `item` elements if they

[2018-01-13 21:52] CharliePoole commented on #285
This was marked as critical in august. The original meaning of critical was that we would fix the thing immediately and put out a hot fix. I think that's what Rob intended and I agree with him.

The criticality is the NRE. Everything else is non-critical and should have been discussed as another issue rather than holding this one up. My suggestion... Fix the NRE and leave everything else.

It does

[2018-01-13 22:25] ChrisMaddock commented on #285
I reduced the priority to 'high'.

We instead put a backwards compatibility fix into the 3.8.1 version of the framework - so this issue was only prevent for users using the `--params` tag with version 3.8.0, which was vLatest for under 24 hours. The fix we put in was to add a value attribute to the top level tag of structured settings.

@mikkelbu - thanks for the offer, but I have now this mostly

[2018-01-13 23:09] mikkelbu commented on #285
@ChrisMaddock I've only written the "production-code" (and performed manual testing), so I also need to implement some tests, so you can keep this issue 😄 .

[2018-01-13 23:13] ChrisMaddock commented on #285
Sorry - I should have come back to update the issue that I'd made a start!

[2018-01-14 02:26] CharliePoole commented on #285
@ChrisMaddock Fixing the critical part and then reducing the priority is a simple solution to having mixed urgency problems on the same issue. Good thinking!

[2018-01-15 01:05] rprouse commented on #337
This actually sounds like an issue with the `vs-project-loader` extension not recognizing the new `csproj` format. If so, we should move the issue there.

@Heteroculturalism can you confirm that you are passing your SLN file on the command line, not the test DLL's? Does it work if you pass your test assemblies instead?

[2018-01-15 01:32] davidenq commented on #270
I've spent several days trying to solve this issue and well, only there isn't enough information how to use Mono and NUnit using only command line on Linux. So,  I've tested in Ubuntu 17.10 and Docker with Alpine 3.7 and I've used some extra environment vars to specify in export MONO_PATH, where mono should find `nunit.framework.dll`  and classes that I want to test. and finally all tests were exe

[2018-01-15 01:58] davidenq commented on #273
Hi everyone, I'm not sure if it is the same issue #270 but I've found a solution and I've published a [comment](https://github.com/nunit/nunit-console/issues/270#issuecomment-357561587) there with an example.

[2018-01-15 08:27] ChrisMaddock commented on #337
As above - if you’re just using the version of Nunit.vsprojectloader packaged with the console, try updating that package. There’s been a new release of that extension since the 3.7.0 version of the console, which may solve this issue.

[2018-01-15 12:42] WolfgangFahl commented on #270
Please reopen this issue. It is a pitty if it is not tracked as such.

[2018-01-15 19:26] rprouse commented on #270
@WolfgangFahl I would be happy to re-open the issue if it is an NUnit problem and not a configuration problem. @davidenq managed to get it working above.

When you compile, is the referenced nunit.framework.dll assembly copied into the same directory as your test.dll? Are other referenced assemblies? If not, do the tests run if you manually copy the files in?

[2018-01-15 19:32] rprouse commented on #270
As for the debian compile from source issue, that is separate, this issue talks about compiling test assemblies from the command line, not compiling NUnit from the command line. Besides, Debian hasn't released a version of NUnit since 2.6.4, https://packages.debian.org/search?keywords=nunit&searchon=names&suite=stable&section=all. It isn't recent changes that caused that.

[2018-01-16 03:12] davidenq commented on #270
@rprouse Actually, I have neither copied nor moved any *.dll assembly from its own folder to another directory. I've only referenced from my script to the nunit.framework.dll assembly and all my tests there have been executed without any error. See the above example (the script and folder structure), nothing is moved, it's only done references.

[2018-01-16 03:21] rprouse commented on #270
@davidenq if I am reading your issue right, you had to add environment variables so that `nunit.framework` is found, I believe that @WolfgangFahl's problem is that the framework is not in the probing path, so not found, causing his error.

[2018-01-16 03:25] rprouse commented on #270
Normally, when you compile a `csproj` file, any referenced assemblies are copied into the build directory unless you specify otherwise. I assumed that `mcs` would do the same when you specify references, but looking at the errors, that doesn't seem to be the case, so I am asking for confirmation. I don't have much experience for command line compiles using `mcs` and it may be that there is an opti

[2018-01-16 10:36] marshall777 commented on #344
This solves my issue, Thanks for the tip

[2018-01-16 10:36] #344 closed

[2018-01-16 21:24] CharliePoole opened #350 "Invalid assemblies no longer give an error message"
In the NUnit3 console runner 3.7, the argument `x.dll` gives an error message indicating the file was not found. Typing `x.junk` gives a message saying that the file type is not known.

In the current master build, the run fails without specifying a message in both cases.

[2018-01-17 03:27] jordz0005 commented on #225
Seem to have run into the same issue, however the below stack trace occurred immediately after a "Process is terminated due to StackOverflowException" message. Hopefully this information helps.

`System.Net.Sockets.SocketException (0x80004005): No connection could be made because the target machine actively refused it 127.0.0.1:13313

Server stack trace:
   at System.Net.Sockets.Socket.DoConnect(E

[2018-01-17 03:29] davidenq commented on #270
I guess that those assemblies are not copied into the build directory. At least, I have not seen that that happen. But, I going to do new tests to verify what is the real behavior. I guess that it will be more useful share with you a dockerfile file preconfigured with Mono, NUnit and scripts to test. What do you think?

[2018-01-17 05:55] eberlid commented on #225
Since our team got sad too about the failing builds I've patched the console runner. The workaround does not solve the problem. It deals with the consequences of the problem in a way that allows our team being able to work with nunit effectively.

https://github.com/eberlid/nunit-console/tree/issue-171

Again, this does not solve the problem. Thanks for everyone still investigating in solving the

[2018-01-17 17:09] fizxmike commented on #340
I'm getting the same error. My hunch is it might be related to our corporate proxy which is probably blocking the ports nunit3-console is using? But proxy should be bypassed for localhost, unfortunately my network settings are locked down on my dev machine... any suggestions?

[code]

[2018-01-18 13:29] ChrisMaddock commented on #225
@jordz0005 - we can't handle a StackOverflowException - but shouldn't crash the entire console, if you're not running inprocess. Will you try running against the latest build of master and see if https://github.com/nunit/nunit-console/pull/346 fixes your problem? You can get this from the MyGet feed - there's a link in the readme.

@eberlid - I can't find anywhere you've every shared your exact st

[2018-01-18 21:26] Heteroculturalism commented on #337
@rprouse I am passing in the SLN file.  It DOES work if I pass in the test assemblies.  There are many assemblies though and I don't want to have to spell them out and I don't think there is wildcard support either.

@ChrisMaddock I'm a bit confused, 3.9.0 does not have a console application for some reason and the last version for NUnit Console is 3.7.  Which version should I get the Nunit.vsproj

[2018-01-18 21:30] rprouse commented on #337
@Heteroculturalism the console and the framework are released separately, thus the version difference. The console and engine are fairly stable, so it hasn't been released as often and is falling behind in version numbers.

The `NUnit.Extension.VSProjectLoader` is a separate NuGet package. It is a plugin for the Console that handles reading solution and project files. Add this as a NuGet package a

[2018-01-18 22:07] rprouse commented on #270
@davidenq the NUnit console needs to be able to find the framework DLL and load it to run your tests, so it needs to be in the probing path. The most common place for that is in the same directory as the test assembly. Building with MSBuild or XBuild performs that step for you, although it might be `msc/csc` that does it with appropriate command line options.

You can compile NUnit tests with `msc

[2018-01-18 23:37] Heteroculturalism commented on #337
@rprouse When I use `vs-project-loader.dll` from `NUnit.Extension.VSProjectLoader` I don't get this error when running against SLN file but it now fails because of my production code, which of course contain no unit tests, saying

[2018-01-19 03:12] CharliePoole commented on #350
As discussed in PR #177, assembly-level errors like file not found or invalid file type stopped displaying in the console runner with the merging of #326. This is due to the fact that the assembly level normally does not have a site associated with it.

An easy fix was tried but has the drawback that it causes all suites containing a test with a warning, either directly or indirectly, to display a

[2018-01-19 07:50] srillaert commented on #219
A workaround for us is to run only one test assembly agent at a time by setting the command line option `--agents=1`, so :
`
mono ~/.nuget/packages/NUnit.ConsoleRunner/3.7.0/tools/nunit3-console.exe [inputfiles] --agents=1`

This solved for us the intermittent error 'The object with ID 2 implements the IObjectReference interface for which all dependencies cannot be resolved. The likely cause is tw

[2018-01-19 13:18] rprouse commented on #270
@WolfgangFahl how would the dockerfile work? Wouldn't you still need to modify the build steps to include different test files, modify references, etc? Or are you talking about a dockerfile to build NUnit itself? We have a batch file in the framework that builds NUnit in a Linux container, we could do something similar here.

[2018-01-19 19:18] rprouse commented on #350
@CharliePoole this sounds important enough to get in the 3.10 release. You've assigned to yourself, do you have a timeline?

I am putting it in the milestone so we can track it. Please remove if you feel the priority is lower.

[2018-01-19 19:22] CharliePoole commented on #350
PR shortly.

[2018-01-19 19:27] #256 closed

[2018-01-19 19:53] CharliePoole commented on #350
@rprouse 3.10 release?

[2018-01-19 20:05] CharliePoole commented on #350
@rprouse I marked this "critical" but with a twist from the normal definition. I don't think we need a hotfix, because the buggy code has never been released. I just don't think you should release with the bug in place since an invalid file, missing file or unsupported project type will all give a failure without any explanatory message. That seems like a reasonable extension of the definition of

[2018-01-19 20:06] rprouse commented on #350
Sorry, mixing up framework and console. 3.8 release which was planned for next week, but I will hold off if necessary.

[2018-01-19 20:09] CharliePoole commented on #350
I was waiting for travis to pass before doing the PR on this one, but I guess I'll stop doing that. 😄

In practice, the framework fix should be looked at before the console fix, so we don't have to fix the console twice. I'll move to that next.

[2018-01-19 21:02] CharliePoole commented on #350
Hmmm... looking at the framework, I am suspicious that we may have a similar problem with ignored tests as we have with warnings... the suite containing the ignored test  gets `ResultState.Ignored` and `FailureSite.Child` is not specified. I'll run a test to see and update this PR if necessary.

[2018-01-21 17:55] #350 closed

[2018-01-22 10:38] simarust opened #354 "Execution hangs when --timeout occurs in TearDown"
We discovered a misbehavior when running the NUnit Console Runner using the `--timeout` option.
If the timeout occurs in a TearDown method the execution hangs.

**Reproducer:**
(called with `--timeout=2000`)

[code]

[2018-01-22 13:30] #116 closed

[2018-01-22 13:36] ChrisMaddock opened #355 "NuGet package links to outdated license"
@jnm2 commented on [Sat Jan 13 2018](https://github.com/nunit/nunit/issues/2656)

https://github.com/nunit/nunit/blob/a8e36883aed269ce352328eb3e64d31ba7c7204a/nuget/framework/nunit.nuspec#L9

https://github.com/nunit/nunit/blob/a8e36883aed269ce352328eb3e64d31ba7c7204a/nuget/nunitlite/nunitlite.nuspec#L9

http://nunit.org/nuget/nunit3-license.txt:

Is this URL a good place to maintain the license i

[2018-01-22 14:56] GraueEminenz79 opened #356 "NullRefException when executing two test assemblies with given --domain=Multiple explicitly"
Hi,
I ran into a NullReferenceException when executing two different test assemblies (and a subset of test cases filtered by where) and using the `--domain=Multiple` parameter, like
`nunit3-console.exe A.dll B.dll --where:class=TestFixtureFromA OR class=TestFixtureFromB --domain=Multiple`
somehow fails during summary report gerneration:
[code]
Hint: `--noc` does not help to workaround the issue...

[2018-01-22 15:11] ChrisMaddock commented on #356
@GraueEminenz79 I think this is a duplicate of https://github.com/nunit/nunit-console/issues/29

There's some workarounds in that issue - would you try adding `--inprocess` or `--process=Separate` depending on your preference, and see if that solves you issue for now?

[2018-01-22 15:22] GraueEminenz79 commented on #356
@ChrisMaddock It does! Thanks very much. Sorry for not looking closer. I will track the issue for myself by #29

[2018-01-22 15:26] ChrisMaddock commented on #356
No problem - thanks for reporting it anyway. (Also - we'd welcome a Pull Request to fix #29 - if you were interested in digging deeper! 😄 Happy to help point in the right direction.)

[2018-01-22 15:26] #356 closed

[2018-01-22 15:28] ChrisMaddock commented on #356
(Although I wonder actually if this may be fixed by #351 - which does related things...)

[2018-01-22 16:12] GraueEminenz79 opened #357 "AppDomains are not identical for two test assemblies when executing with --domain=Single"
Hi,
me again. Please correct me (and close issue) if my expectation is wrong:
When executing two different test assemblies and enforcing the `--domain=Single` parameter
[code]
I assume the `AppDomain.CurrentDomain.FriendlyName;` to be identical for each and every test of test fixture A and B.
Yet I get two different AppDomains like:
`domain-someGuid-A.dll
domain-otherGuid-B.dll`

Is it mandatory t

[2018-01-22 19:40] CharliePoole commented on #357
Of course, a two assemblies cannot use the same AppDomain unless they are already in the same process.

Historically (I say that a lot) NUnit V2 defaulted to running tests in process. Back then, just using the `--domain:Single` option worked as intended. Now we default to running each assembly in a separate process, so the `--domain:Single` option ends up meaning to run a single assembly in a sing

[2018-01-22 19:44] CharliePoole commented on #356
I don't see how that command-line can work as shown above. The phrase `--where:class=TestFixtureFromA` would be taken as an option, `OR` would be another option and `class=TestFixtureFromB` would be a third. Did you actually use quotation marks? If so, where?

[2018-01-22 21:05] ChrisMaddock commented on #357
I like option 2 😊 I wonder if 3 would be a more sensible default however - if process is unspecified.

[2018-01-22 21:43] CharliePoole commented on #357
@ChrisMaddock It could be if you are willing to risk the slippery slope of context-sensitive option validation. As it is now, any option that is valid is always valid. We don't try to predict whether the particular __combination__ of options is invalid, although there is a place where you could add that to the command-line options class..

If we did go with a more context-sensitive approach, we wo

[2018-01-22 21:55] ChrisMaddock commented on #357
Hmm.

The engine would know this combination of domain/process options is invalid however, wouldn't it? But I guess that would involve adding some sort of `ValidatePackage()` stage - so we had a cleaner way to respond with 'warnings' rather than just throwing exceptions...

[2018-01-22 22:06] CharliePoole commented on #357
Specifically, the engine instance that creates the AppDomains will know. However, in the default case, that would be the instance that is running under the agent. The process would already have been created. All that engine could do would be to post a warning saying that "--domain:Single" is redundant - it would only know about the setting and the fact that there is just one assembly. It would not

[2018-01-22 22:42] CharliePoole commented on #354
This appears to be a duplicate of nunit/nunit#352, which has been around for years, but I never thought about this implication of it.

Briefly, we cancel the thread to implement timeout. If teardown is being executed, that means we are in a under the control of a `finally` block, which leads to a hang when we try to cancel the thread. We need to either fix nunit/nunit#352 and see if it fixes this

[2018-01-23 13:13] PhilipGullick commented on #255
Is there an update on the explicit wait being merged into master for a new release? I don't mind applying the fix, however that branch will soon become outdated.

[2018-01-23 20:33] ChrisMaddock opened #358 "NUnit Console can't be run on a Mapped Network Drive"
@CharliePoole commented on [Sun Oct 26 2014](https://github.com/nunit/nunit/issues/311)

This was originally an nunit-console issue...

nunit-console.exe throws the following error while i tried to execute from Mapped Network Drive

Unhandled Exception: System.TypeInitializationException: The type initializer for 'NUnit.ConsoleRunner.Runner' threw an exception. ---> System.Security.SecurityExcepti

[2018-01-24 01:20] rprouse commented on #255
@PhilipGullick do you mean the command line option `--remoting-wait-after-stop`? It was intended to diagnose the issue and provide possible workarounds, but does not work for everyone. Have you tried our recent builds of master? Does that fix your problems?

[2018-01-24 08:19] PhilipGullick commented on #255
@rprouse I have applied the fix and for me it does not fix the issue completely:

If I have --inprocess set, it fails with Unhandled Exception: NUnit.Engine.NUnitEngineException: Exception encountered unloading AppDomain
00:06:32.784          Agent Process was terminated successfully after error.
00:06:32.784             at NUnit.Engine.Runners.ProcessRunner.Dispose(Boolean disposing)

If I have n

[2018-01-24 10:23] ChrisMaddock commented on #255
@PhilipGullick - This should be fixed in master, although it will now return a -5 return code. If not, it would be good to understand more details about your scenario.

[2018-01-24 10:24] PhilipGullick commented on #255
Awesome, thanks guys - will try it now and let you know the result

[2018-01-24 13:58] PhilipGullick commented on #255
Hmm, still affected by #117 . I will limit the agents now to see if AppDomain is still working

[2018-01-24 14:24] ChrisMaddock commented on #255
@PhilipGullick - sorry, it's only the AppDomain issue I'd expect to be fixed in master. I haven't looked into #117.

[2018-01-24 14:29] PhilipGullick commented on #255
@ChrisMaddock No worries, running with --inprocess set now. Will let you know what happens.

[2018-01-24 22:39] ChrisMaddock commented on #266
Taking this out of 3.8 - although I'm not sure we ever expected it in there! 😄

[2018-01-25 00:08] #355 closed

[2018-01-25 00:55] #285 closed

[2018-01-25 01:50] rprouse commented on #357
The process and domain command line options have always had several possible conflicts and we originally decided to just leave them as-is with some documentation. To be honest, I don't think many people use those options now that we run each test assembly in it's own agent. So, I am only really in favor of the first option, documenting what the options do and how they conflict. I think once you un

[2018-01-25 08:56] PhilipGullick commented on #255
@ChrisMaddock, with --inprocess set I have not had any issues with AppDomain when using master.

[2018-01-25 08:58] ChrisMaddock commented on #255
Great - thanks for the update! 👍🏻

[2018-01-25 13:12] jnm2 commented on #266
:+1: I am coming back to this.

[2018-01-25 13:13] Tyonoro opened #360 "CommandLineOption --err does not write error input to ErrorFile"
Hi guys,

I am trying this:
"nunit3-console.exe MyTestAssembly_uTest.dll --err=ErrorOutput.txt --out=StandardOutputfile.txt"

The assembly to test has only one test:
[code]
After execution of the test case above, the file which should contain the error output is always empty.
I realized that the strings are written to the StandardOutputfile.txt.

Can you help me guys?

[2018-01-26 09:44] ChrisMaddock opened #361 "Remove Rebracer file in favour of .editorconfig"
@ChrisMaddock commented on [Thu Jan 25 2018](https://github.com/nunit/nunit/issues/2685)

We currently have three different files providing formatting guidelines - which I don't believe are all maintained.

The most recent work has been done in .editorconfig, I believe. Do we have any need to maintain all three files, or could we remove the Rebracer and ReSharper options?

I'd like to apply the sa

[2018-01-26 12:53] rprouse commented on #360
Sorry, looks like a bug. Those options aren't used much or well tested. Labelling as confirm so I make sure that is how it is supposed to work.

[2018-01-26 13:06] QAGal2 opened #362 "TestExplorer in Visual Studio 15.5.x navigates to Feature.cs code behind"
Given NUnit.Console* 3.7, NUnit 3.9.0,  Visual Studio 15.5.4 (or 15.5.2), SpecFlow & SpecFlow.NUnit 2.2.1
Then double click on a test in Test Explorer,  brings us to the feature.cs code behind file instead of the feature file. This issue began after I upgraded from Visual Studio 15.4.4 (no other changes).

**See Specflow Thread**: https://github.com/techtalk/SpecFlow/issues/990
      community is

[2018-01-26 13:30] rprouse commented on #362
Visual Studio 15.5 handles source locations now whereas NUnit handled it previously. On my phone right now, but will report to the VS team. This issue also belongs in the adapter repo, I will move it there.

[2018-01-26 14:04] OsirisTerje commented on #362
@rprouse VS doesnt quite handle it yet, it is still behind a feature flag, so this sounds like our stuff.  But, agree, belong so far in adapter repo.

[2018-01-27 15:57] rprouse commented on #362
Thanks @OsirisTerje, moving to the adapter repo. @QAGal2 please follow the issue there.

[2018-01-27 15:58] rprouse commented on #362
This issue was moved to nunit/nunit3-vs-adapter#441

[2018-01-27 15:58] #362 closed

[2018-01-27 22:13] mikkelbu commented on #361
Should we keep the .DotSettings similar to what we noted in nunit/nunit#2685 (see
https://github.com/nunit/nunit/issues/2685#issuecomment-360794664)

[2018-01-30 02:07] rprouse commented on #361
I think we should keep the .dotsettings. This project still compiles in 2015, so the full editorconfig won't replace the .dotsettings.

[2018-01-30 08:40] ChrisMaddock commented on #361
Is editorconfig only from VS 2017? I didn’t know that.

Agreed - let’s just remove Rebracer.xml

[2018-01-30 16:05] Cosmin-Gramada opened #364 "Unable to run .NetCore 2.0 tests from command line using Nunit3-console.exe"
I have a simple **.Net Core 2.0** project containing only the following tests:

`using NUnit.Framework;

namespace TestStuffCore
{
    [TestFixture]
    public class Class1
    {

        [Test]
        public void TestStuff1()
        {
            Assert.AreEqual(1 + 1, 2, "Equal");
        }

        [Test]
        public void TestStuff2()
        {
            Assert.AreEqual(1 + 1, 3, "Not eq

[2018-01-30 16:06] CosminGramada opened #365 "Unable to run .NetCore 2.0 tests from command line using Nunit3-console.exe"
I have a simple **.Net Core 2.0** project containing only the following tests:

`using NUnit.Framework;

namespace TestStuffCore
{
    [TestFixture]
    public class Class1
    {

        [Test]
        public void TestStuff1()
        {
            Assert.AreEqual(1 + 1, 2, "Equal");
        }

        [Test]
        public void TestStuff2()
        {
            Assert.AreEqual(1 + 1, 3, "Not eq

[2018-01-30 16:08] CharliePoole commented on #364
Console runner does not currently support .NETCore tests.

@rprouse As an interim measure, perhaps they should be detected, as other things are and a special error message given. IIRC we do that for .NET CF.

[2018-01-30 16:11] CharliePoole commented on #365
You opened this twice. See response on #364.

[2018-01-30 16:11] #365 closed

[2018-01-30 16:18] Cosmin-Gramada commented on #364
I opened it by mistake twice from 2 separate accounts.

Is there any workaround available? The main purpose is to be able to run the tests in CI (TeamCity)?
Also, I don't remember seeing anything in wiki (maybe I missed it?), so I assumed it will work.

[2018-01-30 16:24] CharliePoole commented on #364
We should definitely give more information from the runner itself.

See the wiki here: https://github.com/nunit/docs/wiki/.NET-Core-and-.NET-Standard

[2018-01-30 16:36] Cosmin-Gramada commented on #364
Ok, this provides me a way to run the .NetCore tests, however I'm guessing that I won't be able to make use of the Nunit Console runner command line parameters.

I was planning into using this feature so that I can inject different capabilities (for Selenium tests) used for remote testing on platforms like BrowserStack or SauceLabs. This and the custom attributes that can be created within NUnit..

[2018-01-30 16:42] CharliePoole commented on #364
The nunit framework works the same under every runner, so your custom attributes will be fine. You should be able to use a .runsettings file to give parameters for the run.

[2018-01-30 16:43] CharliePoole commented on #364
Of course, it would be better IMO if the console runner could handle it.

[2018-01-30 19:29] rprouse commented on #364
.NET Standard/.NET Core 2.0 will make it much easier to support running .NET Core tests from the console/engine. We will need to create a .NET Standard 2.0 version of the engine and a .NET Core 2.0 version of the agent. Ideally, we would also create a .NET Core 2.0 version of the console for running in-process or on non-Windows machines that don't have Mono installed.

[2018-01-30 21:43] rprouse commented on #361
Editorconfig is built into VS2017. Prior to that, you need the editorconfig extension installed and it does not support the C# extensions to editorconfig, just spacing, line endings, etc.

[2018-01-30 22:42] CosminGramada commented on #364
@CharliePoole @rprouse
I need to run some of tests on a dozen browser-version combinations on both desktop and mobile device, therefore the reason that BrowserStack and SauceLabs were mentioned.

In aid for this, I was planning in using the `--params|p=PARAMETER` command line argument so that I can drive from my CI server the browser and browser version (and others if we're considering mobile) whe

[2018-01-30 22:58] CharliePoole commented on #364
The second of your two links talks about a generated `.runsettings` file. I'm not familiar with that. I was talking about a `.runsettings` file you create yourself in the proper format. If that's not compatible with using `dotnet test` then of course it won't work. @rprouse Can you comment?

[2018-01-31 01:30] rprouse commented on #360
@Tyonoro I started looking at the code for this and as far as I can tell, it has never worked in NUnit 3. We color error output red and we create a file for the error output, but we never use the error writer that is created, it isn't even passed into our `TestEventHandler`. It will take a bit of plumbing, but it shouldn't be too hard to fix.

[2018-02-01 17:27] CharliePoole commented on #360
An extreme variation that would "fix" this is to simply remove the `--err` option. That's extreme, but if it has actually never worked and this is the first report we've had, it may make sense. Probably we should test with some earlier 3.x releases though. It could have become broken when we were working on the enhanced display of labels.

[2018-02-01 17:35] cyanite opened #367 "nunit3-console loads nunit.framework with partial name"
This prevents running tests when there are non-trivial assembly codebase entries in the app.config file, since redirection polices are not applied when loading with partial name. In general, you should never load with partial name.

The bug is in the NUnit3 driver and the fix is not difficult, since the full assembly information is already available for a load with full name. I'll create a pull re

[2018-02-01 18:05] CharliePoole commented on #367
Looking at the fix in your fork, this won't work. The NUnit engine is supposed to work with any version of the framework. That's why the engine cannot specify the version to be loaded.

In normal use, the driver already finds the framework assembly in memory because it has already been loaded as a side effect of loading the test assembly. That's why the partial name works in this case. Test framew

[2018-02-01 18:42] cyanite commented on #367
The only hardcoded nunit.framework version is in a test which uses a mock-assembly which is built against a specific version itself.

An example of the problem solved:
If I have a test assembly, foo.dll, and a config file, foo.dll.config:

[code]
And I then run nunit3-console foo.dll, it will fail because it tries to load nunit.framework from the current directory (and the nunit3-console directory

[2018-02-01 18:45] cyanite commented on #367
Yes I know. My fix doesn't change that. The assembly name I load is reflected from the actual test assembly.

Yes, but in this case it's loading the framework in order to figure out which driver to use.

I know, but the problem is the same and can possibly be resolved in the same way (depending on how you reflect for the nunit.framework assembly in NUnit 2).

[2018-02-01 18:49] CharliePoole commented on #367
Regarding the example... I haven't run it but i'll take your word it fails because it makes sense that it would.

However... is there any good reason for doing this? Since NUnit is designed to work with whatever version of the framework the tests are bound to, why would you use a binding redirect?

IOW, even if this is a confirmed bug, we might say "just don't do that" if there isn't a good use ca

[2018-02-01 18:51] CharliePoole commented on #367
"The assembly name I load is reflected from the actual test assembly."

I didn't see that, I only saw hard-coded "3.9.0". I'll check the PR again.

[2018-02-01 19:01] CharliePoole commented on #367
All right, I see what you're doing now. I cancelled the review and will re-review. I'd still like to know why one would do a binding redirect for the framework, however. We've put a lot of effort into making that unnecessary in the past.

[2018-02-01 19:06] cyanite commented on #367
For various reasons we have moved our external assemblies (nuget dependencies) to a separate directory. It's not just the nunit.framework. One reason is that we have a large legacy code base with some test assemblies using NUnit 2 and some NUnit 3. Doing it like this, we can run the entire test suite with NUnit 3.

[2018-02-01 19:14] CharliePoole commented on #367
Thanks. That makes sense.

[2018-02-02 07:02] jaykpatel1996 opened #369 "Output log(text file) feature is missing"

[2018-02-02 07:10] #369 closed

[2018-02-02 11:26] CharliePoole commented on #367
@nunit/framework-team

The main argument for __not__ fixing this is that we have had similar behavior for at least 15 years (I wasn't on NUnit before that) and this is the first time the problem was brought up. There must not be many people doing this and what you are doing is definitely __not__ how NUnit was designed to be used. We have been recommending against use of binding redirects to force

[2018-02-02 12:11] cyanite commented on #367
Respectfully, I don't think that's a very good argument. At any rate, I am not really appealing to authority. I don't care if it's Microsoft or who says it or what they think, I care that it's true: That partial assembly loading is problematic because it doesn't always do what you think it does. That's how it is, that's how Fusion works, regardless of what anyone thinks. The main issue is, quoting

[2018-02-02 16:39] CharliePoole commented on #367
I asked for a team __discussion__. Basically, the question for us is whether we want to support your scenario. It's a scenario that the NUnit team decided __not__ to support years ago. You have given the reasons why you think we should support it and there's not much more you can say until other team members have actually joined the discussion.

Since my own stated conclusion was in your favor, it

[2018-02-02 18:57] jnm2 commented on #367
I'm coming to this without a prior opinion.

None of this is something I've read in the docs or heard before. (I'm new.) Either way, I sympathize enough with the actual use case (codebase href) that I'm willing to try to plan through the possible repercussions of enabling version redirects.

@cyanite Thank you for your willingness to help work through this.

@CharliePoole Would you please bring me

[2018-02-02 19:11] jnm2 commented on #367
I would have thought that binding redirects, whether autogenerated due to conflicts or not, are _more_ likely to be the source of truth for what the user actually wants to reference than what they referenced (directly or transitively).

[2018-02-02 19:39] CharliePoole commented on #367
@jnm2 I'm afraid we have been through at least two different discussion platforms over the time since I started working on NUnit, so I can't point you to anything.

As stated, I favor doing this. I was initially put off by the lack of explanation as well as the tone of the request but that's neither here nor there. I think it makes perfect sense to make use of an assemblyname that we already have

[2018-02-02 19:49] CharliePoole commented on #367
@jnm2 I guess it depends on who the "user" is. If the person setting up the binding redirect is knowledgeable, then they will have thought of all the issues that could arise. But if it's someone who just wants to run tests that they have not written, it can lead to silently ignoring tests, false positives and other hard to debug issues. It's a very sharp knife.

[2018-02-02 20:12] jnm2 commented on #367
Do we have an existing example?

I would say, the test uses whatever the test project is set up to output for its binding redirects.

If someone wants to run tests that they have not written, I can't think of a scenario where they edit the binding redirects any more than changing the project references and package dependencies. The activities go hand in hand. My lack of imagination is of course no

[2018-02-02 21:57] CharliePoole commented on #367
We don't have an example other than the NUnit V2 driver.

I've seen some very strange things as a coach, including binding redirects in a special config created by QC because they wanted to use a different framework version than what the developers had used to create them. It's an odd thing to do, for sure.

One would like to provide features that can only be used well, but that's not really possi

[2018-02-05 10:23] svetikshark commented on #139
trying to use --explore  with --where in console runner 3.8.0 and still it returns all test names
/d/src/ja-automation/SeleniumTest/packages/NUnit.ConsoleRunner.3.8.0/tools/tools
$ nunit3-console.exe "d:\src\ja-automation\SeleniumTest\SeleniumTest\bin\Debug\
SeleniumTest.dll" --where 'cat == Smoke'   --explore:results

results
<test-run id="2" testcasecount="2399">

[2018-02-05 13:16] cyanite commented on #367
But... but that's exactly what you don't do currently. My PR fixes it so you *do* use the exact version of the framework that the user referenced from code. The current state of affairs is that that doesn't always happen. I have posted detailed examples below :)

Note that none of my examples involve version redirection. They all simply involve placing the file in a different location.

Yes, which

[2018-02-05 13:19] cyanite commented on #367
In the following text I list 5 cases. In 4 of those the existing nunit fails to execute tests, while the PR version works in all cases. The lines under "CASE x:" lists the files located in the directory. The test assembly is tests.dll. In cases where it says "GAC:" this assembly is installed in the GAC instead of being located in the directory.

Note that two of the cases where the exsiting versio

[2018-02-05 14:20] CharliePoole commented on #367
@cyanite Thanks for the additional information. I'm marking this as confirmed but still leaving it as an "idea". I'd prefer for some other team member to concur with me and promote it out of that status. This doesn't call for any more arguments on your part, it's just a way of working we have. 😄

[2018-02-05 14:50] ChrisMaddock commented on #367
@both - between PR and issue, there's over 50 comments here now! Would someone mind summarising the latest status, which you want people's opinions on? Thanks! 😄

[2018-02-05 15:14] CharliePoole commented on #367
@ChrisMaddock I think we should support this change, but I see issues the team should consider. As the guy with one foot out of the door I didn't think I should decide myself whether you will support this in the future.

1. Do you want to support binding redirect of the framework. In the past we said we didn't and just told people who complained not to do that.

2. We don't currently have any thir

[2018-02-05 15:31] cyanite commented on #367
Not to keep commenting, but note that I am not doing binding redirects but rather codebase entries, i.e. changing the physical location of the nunit.framework.dll file. It would support binding redirect as well, but since v2 and v3 frameworks are incompatible, this wouldn't really work, and I agree that there is no reason (or possibility) to support it.

The current code (before my PR) is hard cod

[2018-02-05 15:41] CharliePoole commented on #367
@cyanite You only changed the nunit 3 driver. I'm asking what this implies for other drivers as well as the driver service, whose job it is to find drivers.

Your point about binding redirect is correct.

[2018-02-05 15:57] cyanite commented on #367
@CharliePoole right. There is a similar problem with the NUnit 2 driver as well. The problem is actually inside the nunit.engine (v2) shipped with that. I haven't debugged it exactly, but I know (from fuslog) that it's also due to loading with partial name. It doesn't stop tests from being executed, but it prevents TestActions from being invoked, which I noticed in our test suite. The tests that d

[2018-02-05 19:10] CharliePoole commented on #367
@cyanite It's always confusing for the issue poster when I do my thing and broaden it. 😄 I realize this PR doesn't impact anything but the V3 driver. What I'm asking myself and the other team-members is whether this PR will lead us to change the interfaces of the driver service and other infrastructure in the usual way that approving one change leads to needing to make another change.

If it does,

[2018-02-05 20:08] cyanite commented on #367
@CharliePoole ah, I see now, sorry for the misunderstanding :).

No sweat. Since we (will soon) have a mixed test suite (v2 and v3) and we have a deadline moving up, we'll have to run a custom NUnit build to begin with anyway, since there is still the v2 driver similar bug I spoke of above (which can be circumvented rather easily, though). Let me know if/when there is anything I can help with.

[2018-02-05 20:14] rprouse commented on #367
I am not against the idea although I do see minor issues with the code. I don't think the constructor of the driver is part of our API, just the interface it exposes. It is the factory's responsibility to create the driver. I think that @cyanite's use case for using a binding redirect is fairly edge case, but it is valid.

@CharliePoole can you explain how you see us possibly having to extend or c

[2018-02-05 21:22] CharliePoole commented on #367
@rprouse Nothing specific except that we had talked about changing the `IDriverFactory` interface. With this change, we will definitely have to retain the method that uses an `AssemblyName`, even if we add other methods. I don't see that as a problem. It's just my ongoing hesitancy to accept anything that might lead to an API change without asking for your input that's in play here.

I'll move thi

[2018-02-05 21:32] CharliePoole commented on #367
@cyanite I may have misunderstood an earlier comment about your conversion from V2 to V3. I thought you meant you were using a binding redirect to force V2 tests to run under V3. I think we can support both codebase changes and binding redirects with the understanding that it's up to the user to determine whether the assembly being directed to actually works.

WRT V2 - we no longer update the V2 c

[2018-02-05 21:47] cyanite commented on #367
No, that won't work due to incompatibility between v2 and v3. Our running (and for test) system consists of 100s of assemblies, and what we'll do is gradually switch test assemblies over to NUnit 3, while keeping many on NUnit 2. Since there can't be two files called "nunit.framework.dll" in the directory, obviously, we decided to rename them both, and since we are doing that anyway, we're moving

[2018-02-05 22:06] CharliePoole commented on #367
While we could get away with it due to the sunsetting of NUnit V2, that idea does break the notion that the runner code is independent of the version of the framework that one uses. We might be able to do a package dependency, however.

In any case, whatever we do presumes we are shipping a new version. 😄

[2018-02-05 22:43] cyanite commented on #367
As for the work around: the v2 nunit.framework.dll file would just reside in the v2 driver directory next to v2 nunit.engine etc., and would normally never be loaded. Only in the cases above it would be loaded... well not even loaded, because load by partial name works like this: After opening the file it extracts the full assembly name, reapplies app.config policies and tries a normal load which

[2018-02-05 23:47] rprouse commented on #360
@nunit/framework-team can we weigh in on this issue? My original inclination was to drop support for `--err` since it has never worked and nobody has noticed in the four years since we released 3.0 and much longer if you count the pre-release 2.9.x releases. Diving into the code, outputting to a separate file is complicated by our various label options. Should the output to an error file include l

[2018-02-06 00:19] CharliePoole commented on #360
I like item 1 for error.

My thinking about the labels for stdout is that it is normally displayed... either immediately at the console or later by saving the output and viewing it in an editor. It makes little sense without labels and users have the choice to turn off labels anyway.

I'd be OK if we wanted to pick an option 2, where we send it to a file without labels. I'm surprised if that makes

[2018-02-06 01:26] rprouse commented on #360
You are probably right about the second option @CharliePoole, it just seems to complicate `TestEventHandler`. It would be cleaner if we had an aggregating test event handler, or if `ITestEventListener` had a `ITestEventListener NextHandler` property so that they could be chained.

[2018-02-06 12:29] ChrisMaddock commented on #360
1, 2 or 4 seem good to me. I hadn't understood properly that #366 was a partial implementation sorry - that seems like something which might cause us trouble in the future. If 2/4 are going to be non-trivial, it doesn't seem worth the effort until there's a greater user-need for it,

Are you sure about this? I thought it was errors to stderr, meaning the redirection could be done in the console an

[2018-02-07 23:17] jnm2 commented on #360
I'm not sure we should remove it since people like @Tyonoro are using it.

[2018-02-08 01:37] CharliePoole commented on #360
@jnm2 Except he isn't successfully using it. 😄

[2018-02-08 01:54] jnm2 commented on #360
Maybe the use case exists though.

@Tyonoro If we removed this feature, what would your next best option be?

[2018-02-09 14:26] BlythMeister opened #370 "Nunit.Console 3.8 - Socket Exception"
Since upgrading from 3.7 to 3.8 i more instances of a failed tests with "NUnit.Engine.NUnitEngineUnloadException"

Unfortunatly this error gives me no hint as to why the socket exception has occured, or where i can look to find out....

[2018-02-09 22:17] ChrisMaddock commented on #370
Did you previously see SocketExceptions in NUnit Console 3.7?

This is what https://github.com/nunit/nunit-console/issues/255 will now look like - if the socket exception occured whilst the test run was being cleaned up. It could either be that the test agent crashed during this process - or it could be an instance of a potential race condition we haven't been able to pin down. Try running with `-

[2018-02-10 07:13] BlythMeister commented on #370
We did sometimes see socket exception
I can try running with trace to see what I get.

Would it be possible to output the library which the missing agent was testing?
We pass around 200 DLL to nunit console so trying to work out which one caused the issue is near impossible.
But some extra logging here to give hints would be really useful.

[2018-02-10 11:01] ChrisMaddock commented on #370
Yes, so long as you’re running in separate processes, i think it would be? Definitely plans to do more to output better debug information here.

That would be a great pull request, if you’d be willing? It should be possible to catch the socketexception, and rethrow as an Nunitengine exception with the socket exception as the innerexception, and some more information in the exception message as to

[2018-02-10 12:15] BlythMeister commented on #370
The problem is that there is no longer a stack track to find out where the exception is coming from...I'll have a look see if I can add anything else around this error handling in the console runner itself to help users when nunit exceptions occur.
Essentially giving more context to the error.

[2018-02-11 23:34] ChrisMaddock commented on #370
I've been thinking about this some more...

I _think_ this console log would only come up in one of a couple of ways. 1) The race condition mentioned or 2) An unrelated bug causing the agent to otherwise crash during the unload process.

Something like https://github.com/nunit/nunit-console/issues/335 would help with the latter problem.

[2018-02-13 15:02] cyanite commented on #367
I mentioned this in the pull request, but repeating it here. I have a small repro for the issue: https://github.com/cyanite/nunit3-issue367-repro

Building that and running nunit3-console.exe on the produced assembly reproduces the issue.

[2018-02-13 16:15] BlythMeister commented on #370
@ChrisMaddock is there a way to set where the tracelogs get put?

[2018-02-13 16:31] CharliePoole commented on #370
The logs are saved relative to the "work" directory if you set it using option `--work`.

Note that the "work" directory is the place where NUnit saves all logs and reports, it's not the Windows "working" directory. Bad naming on my part back when I'm afraid.